<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
</html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Sicapov</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <link rel="stylesheet" href="/../css/normalize.css">
        <link rel="stylesheet" href="/../css/main.css">
		<link rel="stylesheet" href="/../css/sicapov.css">
        <script  type="text/javascript" src="/../js/vendor/modernizr-2.6.2.min.js"></script>
    </head>

    <body>

	        <div id="Wrapper">
			<div id="PageWrapper">
				<div class="pageTop"></div>
					<div id="Header">
					
			<!-- Main Menu -->
			<div id="MenuWrapper">
				<div id="MainMenu"> 	
					<div id="MmLeft"></div>
					<div id="MmBody">
						
						<!-- Main Menu Links -->
						<ul class="sf-menu">
						<% if (!usuario) { %>
							<li class="leaf first"><a href="/Login" title="">Login</a></li>
							<li class="leaf first"><a href="/noticias" title="">Noticias</a></li>
						<% } else { %>
							<li class="leaf first"><a href="/Consulta" title="">Consulta</a></li>
							<li class="leaf"><a href="/Caracterizacion" title="">Caracterizacion</a></li>
							<li class="leaf"><a href="/noticias" title="">Noticias</a></li>
							<li class="expanded active-trail"><a href="" title="">Reportes</a>
								<ul class="sf-menu">
									<li class="leaf first"><a href="/listaVictimas" title="">Lista de Victimas</a></li>
									<li class="leaf last"><a href="/listaPorHecho" title="" class="active">Lista por Hecho Victimizanate</a></li>
								</ul>
							</li>
							
							<li class="leaf"><a href="/Logout" title=""><%= usuario.username %> Logout</a></li>
						<% } %>
							
						</ul>						
						<div class="mmDivider"></div>				
						
						<!-- Extra Menu Links -->
                        <span id="ExtraMenuLinks">
							<ul class="sf-menu">
								
								<li class="leaf last">
									<a href="/" title="Home"><img alt="" title="" src="../../images/home-icon.gif" /></a>
								</li>
							</ul>
						</span>
                    </div>
					<div id="MmRight"></div>
					<br/>
					<div id="SecondaryMenu"> </div>
				</div>   
			</div>
			
					<a href="/" title="escudo"><img alt="" title="" src="../../images/escudo.png" align ="all"/></a>
					<a href="/" title="unidad"><img alt="" title="" src="../../images/Unariv.png" align ="all"/></a>
					<a href="/" title="dps"><img alt="" title="" src="../../images/dps.png" align ="all"/></a>

					<!-- Logo -->
			<div id="Logo">  
                            <a href="/"><img src="../../images/sicapov_logo.png" alt="" id="logo" /></a>			</div>
			<!-- End of Content -->
			<div class="clear"></div>
			
			</div>
			 
			
				<div class="pageMain">
					<div class="hr" style="width: 98%; position: relative; left: 10px;"></div>
				
					<!-- Page Content -->
					<div class="contentArea">
													
