<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
</html>
<!--    <head>
        <title>Sicapov</title>
        <link href="/../css/style.css" rel="stylesheet">
        <script type="text/javascript" src="/../js/all.js"></script>
    </head>
	-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Sicapov</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="/../css/normalize.css">
        <link rel="stylesheet" href="/../css/main.css">
		<link rel="stylesheet" href="/../css/sicapov.css">
        <script  type="text/javascript" src="/../js/vendor/modernizr-2.6.2.min.js"></script>
    </head>

    <body>

	        <div id="Wrapper">
			<div id="PageWrapper">
				<div class="pageTop"></div>
					<div id="Header">
					
			<!-- Main Menu -->
			<div id="MenuWrapper">
				<div id="MainMenu"> 	
					<div id="MmLeft"></div>
					<div id="MmBody">
						
						<!-- Main Menu Links -->
						<ul class="sf-menu">
							<li class="leaf first"><a href="./Consulta" title="">Consulta</a></li>
							<li class="leaf first"><a href="./Caracterizacion" title="">Caracterizacion</a></li>
							
<!-- 							<li class="collapsed"><a href="/implement" title="">Implement</a></li>
							<li class="expanded active-trail"><a href="/events" title="">Get Trained</a>
								<ul class="sf-menu">
									<li class="leaf first"><a href="/events" title="">Upcoming Events</a></li>
									<li class="leaf active-trail"><a href="/learning-path" title="" class="active">Learning Path</a></li>
									<li class="leaf last"><a href="/individual-certification-program" title="Individual Certification Program">Individual Certification</a></li>
								</ul>
							</li>
							<li class="expanded last"><a href="/resources" title="">Resources</a>
								<ul class="sf-menu">
									<li class="leaf first"><a href="/resources" title="">Resource Library</a></li>
									<li class="leaf"><a href="http://community.holacracy.org/community-home" title="">Community of Practice</a></li>
									<li class="leaf last"><a href="/glassfrog" title="Sign up for GlassFrog, the ultimate Holacracy companion">GlassFrog Software</a></li>
								</ul>
							</li> -->
						</ul>						
						<div class="mmDivider"></div>				
						
						<!-- Extra Menu Links -->
                        <span id="ExtraMenuLinks">
							<ul class="sf-menu">
					<!-- 			<li class="leaf first"><a href="/blog" title="">Blog</a></li>
								<li class="leaf"><a href="/contact" title="">Contact</a></li> -->
								<li class="leaf last">
									<a href="./" title="Home"><img alt="" title="" src="../../images/home-icon.gif" /></a>
								</li>
							</ul>
						</span>
                    </div>
					<div id="MmRight"></div>
					<br/>
					<div id="SecondaryMenu"> </div>
				</div>   
			</div>
			<!-- Search -->
			<!-- <div id="Search">
				<form action="/search/node" id="SearchForm" method="get" accept-charset="UTF-8">
					<div class="m4"><input type="text" name="keys" id="SearchInput" value="" /></div>
					<div class="m4"><input type="submit" name="op" id="SearchSubmit" class="noStyle hide-submit-exclude" value="" /></div>
					<input type="hidden" name="form_token" id="edit-search-theme-form-form-token" value="b8dcd98ab6b6b4d3bcdc6fb35ee62eeb"  />
					<input type="hidden" name="form_id" id="edit-search-theme-form" value="search_theme_form"  />
				</form>
			</div>
 -->			
			<!-- Logo -->
			<div id="Logo">  
                            <a href="/"><img src="../../images/sicapov_logo.png" alt="" id="logo" /></a>			</div>
			<!-- End of Content -->
			<div class="clear"></div>
			
			</div>
			 
			
				<div class="pageMain">
					<div class="hr" style="width: 98%; position: relative; left: 10px;"></div>
				
					<!-- Page Content -->
					<div class="contentArea">
													
						<!-- <div class="full-page">
							<h1 class="headline"><strong><%=page_title%></strong></h1>
								<div class="panel-2col-stacked clear-block panel-display">
									<div class="center-wrapper">
										<div class="panel-col-first panel-panel">
											<div class="inside">
												<div class="panel-pane pane-custom pane-2">
													<div class="pane-content">
														<p>Looking for specific resources about Holacracy? You're in the right place — the Resource Library centralizes useful and noteworthy content. Browse it and filter it as you please to find some Holacracy gems you don't even know about... yet!</p>
													</div>
												</div>
											</div>
										</div>
										<div class="panel-col-last panel-panel">
											<div class="inside">
												<div class="panel-pane pane-block pane-views-exp-resources-page-2">
													<div class="pane-content">
														<form action="/resources/" accept-charset="UTF-8" method="get" id="views-exposed-form-Resources-page-2">
															<div>
																<div class="views-exposed-form">
																	<div class="views-exposed-widgets clear-block">
																		<div class="views-exposed-widget views-widget-filter-term_node_tid_depth">
																			<label for="edit-term-node-tid-depth">
																				Filter by Focus          
																			</label>
																			<div class="views-widget">
																				<div class="form-item" id="edit-term-node-tid-depth-wrapper">
																					<select name="term_node_tid_depth[]" multiple="multiple" class="form-select" id="edit-term-node-tid-depth" size="6">
																						<option value="352">Introductory</option>
																						<option value="354">Holacracy Paradigm</option>
																						<option value="353">Holacracy How-To's</option>
																						<option value="238">Holacracy Stories</option>
																						<option value="368">Holacracy Apps</option>
																						<option value="356">Holacracy Compared</option>
																					</select>
																				</div>
																			</div>
																		</div>
																		<div class="views-exposed-widget views-widget-filter-type">
																			<label for="edit-type">
																				Filter by Type          
																			</label>
																			<div class="views-widget">
																				<div class="form-item" id="edit-type-wrapper">
																					<select name="type[]" multiple="multiple" class="form-select" id="edit-type" size="4">
																						<option value="blog">Blog Post</option>
																						<option value="case_study">Case Study</option>
																						<option value="resource">Resource</option>
																						<option value="video_resource">Resource Video</option>
																					</select>
																				</div>
																			</div>
																		</div>
																		<div class="views-exposed-widget views-submit-button">
																			<button type="submit" name="" value="Apply" class="form-submit btn" id="edit-submit-Resources">
																				<span style="margin-top: -1px;">Apply</span>
																			</button>
																		</div>
																	</div>
																</div>

															</div>
														</form>
													</div>
												</div>
											</div>
										</div>
									</div>

				<div class="panel-col-bottom panel-panel">
					<div class="inside">
						<div class="panel-pane pane-custom pane-1">
							<div class="pane-content">
								<p>&nbsp;</p>
							</div>
						</div>
						<div class="panel-region-separator">
						</div>
						<div class="panel-pane pane-views pane-resources" id="resources-table">
							<div class="pane-content">
								<div class="view view-Resources view-id-Resources view-display-id-page_2 view-dom-id-1">
									<div class="view-content">
										<table class="views-table cols-3" summary="List of Holacracy Resources">
											<thead>
												<tr>
													<th class="views-field views-field-title-1">
														<a href="/resources?order=title_1&amp;sort=asc&amp;" title="sort by Title" class="active">Title</a>
													</th>
													<th class="views-field views-field-type">
														<a href="/resources?order=type&amp;sort=asc&amp;" title="sort by Type" class="active">Type</a>
													</th>
													<th class="views-field views-field-created active">
														<a href="/resources?order=created&amp;sort=asc&amp;" title="sort by Date" class="active">Date<img src="./img/arrow-asc.png" alt="sort icon" title="sort ascending" width="13" height="13"></a>
													</th>
												</tr>
											</thead>
											<tbody>
												<tr class="odd views-row-first">
													<td class="views-field views-field-title-1">
														<a href="/resources/holacracy-habits-app"></a>
														<h4>
															<a href="/resources/holacracy-habits-app"></a>
															<a href="/resources/holacracy-habits-app">Holacracy® Habits App</a>
														</h4>
														This app supports Holacracy implementation by reinforcing three cornerstone habits; role-based communications, leveraging a trusted system, and in-system tension processing. The app...<a href="/resources/holacracy-habits-app"> more »</a>          
													</td>
													<td class="views-field views-field-type">
														Resource         
													</td>
													<td class="views-field views-field-created active">
														Jul 2014          
													</td>
												</tr>
												<tr class="even">
													<td class="views-field views-field-title-1">
														<a href="/resources/holacracy-app-developer-kit"></a>
														<h4>
															<a href="/resources/holacracy-app-developer-kit"></a>
															<a href="/resources/holacracy-app-developer-kit">Holacracy® App Developer Kit</a>
														</h4>
														This document provides an overivew of Holacracy apps, an app walk-through, and a template for creating an app.&nbsp;Holacracy apps are pre-packaged governance proposal that have been...<a href="/resources/holacracy-app-developer-kit"> more »</a>          
													</td>
													<td class="views-field views-field-type">
														Resource         
													</td>
													<td class="views-field views-field-created active">
														Jul 2014          
													</td>
												</tr>
												<tr class="odd">
													<td class="views-field views-field-title-1">
														<a href="/resources/manager-mimicry-app"></a>
														<h4>
															<a href="/resources/manager-mimicry-app"></a>
															<a href="/resources/manager-mimicry-app">Manager Mimicry App</a>
														</h4>
														This app defines a structure and set of rules to handle basic partnership functions in a way that mimics some talent management functions (i.e. hiring, firing, promotion, and...<a href="/resources/manager-mimicry-app"> more »</a>          
													</td>
													<td class="views-field views-field-type">
														Resource         
													</td>
													<td class="views-field views-field-created active">
														Jun 2014          
													</td>
												</tr>
												<tr class="even">
													<td class="views-field views-field-title-1">
														<a href="/resources/holacracy-app-developer-kit"></a>
														<h4>
															<a href="/resources/holacracy-app-developer-kit"></a>
															<a href="/resources/holacracy-app-developer-kit">Holacracy® App Developer Kit</a>
														</h4>
														This document provides an overivew of Holacracy apps, an app walk-through, and a template for creating an app.&nbsp;Holacracy apps are pre-packaged governance proposal that have been...<a href="/resources/holacracy-app-developer-kit"> more »</a>          
													</td>
													<td class="views-field views-field-type">
														Resource         
													</td>
													<td class="views-field views-field-created active">
														Jul 2014          
													</td>
												</tr>
												<tr class="odd views-row-last">
													<td class="views-field views-field-title-1">
														<a href="/resources/organization-at-the-leading-edge-introducing-holacracy-german"></a><h4><a href="/resources/organization-at-the-leading-edge-introducing-holacracy-german"></a><a href="/resources/organization-at-the-leading-edge-introducing-holacracy-german">Organization at the Leading Edge: Introducing Holacracy (German)</a></h4>An in-depth introduction to many of Holacracy's key concepts and components, written by one of the pioneers of the practice. Translated from English<a href="/resources/organization-at-the-leading-edge-introducing-holacracy-german"> more »</a>          </td>
						  <td class="views-field views-field-type">
					Resource          </td>
						  <td class="views-field views-field-created active">
					Jan 2007          </td>
					  </tr>
			  </tbody>
		</table>
			</div>
		  
		  
		  
		  
		  
		</div>   </div>

		  
		  </div>
		</div>
			</div>    
		  </div>
							<!-- End of Content -->
							

        