<%- include layouts/header.ejs %>
    <div class="full-page">
      <h1 class="headline">
        <strong>
          <%=page_title%>
        </strong>
      </h1>
      <div class="">
    	<form method="post" action="/caracterizacion">		
			
			<div class="mc-field-group" style="margin: 10px 0 0 0;">
<!-- 			    <select value="" name="Tipodocumento" class="required tipodocumento" id="id_tipodocumento" placeholder="Tipo de Documento (*)" list="tipodedocumentos" tabindex = "1"
				 style="width: 237px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;" required title="Por favor ingresa un tipo de documento!">
				  <option value="Cedula de Ciudadania">Cedula de Ciudadania</option>
				  <option value="Registro Civil">Registro Civil</option>
				  <option value="Tarjeta de Identidad">Tarjeta de Identidad</option>
				</select> -->
 				<input type="text" value="" name="Tipodocumento" class="required tipodocumento" id="id_tipodocumento" placeholder="Tipo de Documento (*)" list="tipodedocumentos" tabindex = "1" 
				  style="width: 237px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;" required title="Por favor ingresa un tipo de documento!"
				  onkeypress='return event.charCode > 0 && event.charCode < 0' />
				<datalist id="tipodedocumentos">
				  <option value="Cedula de Ciudadania">
				  <option value="Registro Civil">
				  <option value="Tarjeta de Identidad"> 
				</datalist> 
			  <input type="text" value="" name="Numerodocumento" class="required numerodocumento" id="id_Numerodocumento" placeholder="Numero de Documento (*)" tabindex = "2"
			  style="width: 237px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;" required title="Por favor ingresa un numero de documento!"
			   onkeypress='return event.charCode >= 48 && event.charCode <= 57' />
			
			
			<div class="mc-field-group">
			  <input type="text" value="" name="Nombres" class="required textInput rounded" id="id_Nombres" placeholder="Nombres(*)"tabindex = "3"
			  style="width: 237px; margin-right: 3px; float: left; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;" />
			</div>
			<class="mc-field-group">
			  <input type="text" value="" name="Apellidos" class="required textInput rounded" id="id_Appelidos" placeholder="Apellidos(*)"tabindex = "4"
			  style="width: 237px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;" />
			
			
			<class="mc-field-group" style="margin: 10px 0 0 0;">
			    <input type="text" value="" name="Sexo" class="required Sexo" id="id_Sexo" placeholder="Sexo(*)" list="Sexos" tabindex = "5"
				  style="width: 100px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;" required title="Por favor selecciona un Sexo!"/>
				<datalist id="Sexos">
				<option value="Masculino">
				  <option value="Femenino"> 
				</datalist> 
				
				
				<class="mc-field-group" style="margin: 10px 0 0 0 ;">
			    <input type="text" value="" name="Orientacionsexual"  id="id_Orientacionsexual" placeholder="Orientación Sexual" list="LGBTI" tabindex = "6"
				  style="width: 237px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;" title="Por favor Seleccione una orientacion sexual!"/>
				<datalist id="LGBTI">
				  <option value="Heterosexual">
				  <option value="Homosexual">
				  <option value="Travesti">
				  <option value="TransSexual">
				  <option value="Bisexual">
				</datalist> 
			</div>	
				
				<div class="mc-field-group" style="margin: 10px 0 0 0;">
			    <input type="text" value="" name="Libretamilitar" class="required LibretaMilitar" id="id_Libretamilitar" placeholder="Libreta Militar" list="LibretaMilitar" tabindex = "7"
				  style="width: 237px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;" title="Tiene libreta Militar?"/>
				<datalist id="LibretaMilitar">
				<option value="Si">
				  <option value="No"> 
				</datalist> 
				
				
				<class="mc-field-group" style="margin: 10px 0 0 0;">
			    <input type="text" value="" name="Jefehogar" class="required JefeHogar" id="id_Jefehogar" placeholder="Usted es jefe del Hogar ?" list="JefeHogar" tabindex = "8"
				  style="width: 237px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="jefe del hogar o Cabeza de Famlia"/>
				<datalist id="JefeHogar">
				  <option value="Si"> 
				  <option value="No"> 
				</datalist> 
				
				
				<class="mc-field-group" style="margin: 10px 0 0 0;">
			    <input type="text" value="" name="Vinculo" class="required Vinculo" id="id_Vinculo" placeholder="Vinculo con el  jefe del Hogar ?" list="Vinculo" tabindex = "9"
				  style="width: 237px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Cual es su parentesco con el jefe del hogar!"/>
				<datalist id="Vinculo">
				  <option value="Esposo(a)">
				  <option value="Compañero(a)">
				<option value="Hijo(a)">
				<option value="tio(a)">	
				<option value="Sobrino(a)">
				</datalist> 
				</div>
				
				<!-- fecha de nacimiento -->
				
			
			
			<div class="mc-field-group" style="margin: 10px 0 0 0;">
			  <input type="text" value="" name="Direccion" class="required direccion" id="id_direccion" placeholder="Direccion"tabindex = "11"
			  style="width: 237px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Digite Direccion actual de residencia!"//>
			
			
			<class="mc-field-group" style="margin: 10px 0 0 0;">
			  <input type="text" value="" name="Barrio" class="required textInput rounded" id="Barrio" placeholder="Barrio"tabindex = "10"
			  style="width: 237px; margin-right: 3px; float: left; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;" />
			
			
			
			<class="mc-field-group" style="margin: 10px 0 0 0;">
              <input type="text" value="" name="Telefono" class="required telefono" id="id_telefono" placeholder="Numero de Telefono"tabindex = "12"
			  style="width: 237px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;" title="Por favor ingresa un numero de telefono!"/>
			</div>
				
				
				<div class="hr" style="width: 99%; position: relative; left: 10px;"></div>
				
				<strong>
					Salud<br></br>
					</strong>
					
					
				<div class="mc-field-group" style="margin: 10px 0 0 0;">
			    <input type="text" value="" name="SISBEN" class="required SISBEN" id="" placeholder="SISBEN(*)" list="SISBEN" tabindex = "13"
				  style="width: 237px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;" required title="SISBEN!"/>
				<datalist id="SISBEN">
				  <option value="Si">
				  <option value="No"> 
				</datalist> 
				
				
				<class="mc-field-group" style="margin: 10px 0 0 0;">
			    <input type="text" value="" name="Afilidado" class="required Afilidado" id="" placeholder="Está Afiliado a Salud?" list="Afilidado" tabindex = "14"
				  style="width: 237px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;" title="Esta afiliado a Salud!"/>
				<datalist id="Afilidado">
				  <option value="Si">
				  <option value="No"> 
				</datalist> 
				
				
				
				<class="mc-field-group" style="margin: 10px 0 0 0;">
			    <input type="text" value="" name="Regimen" class="required Regimen" id="" placeholder="Regimen de salud?" list="Salud" tabindex = "15"
				  style="width: 237px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Subsidiado por el gobierno O contribuido por la persona.!"/>
				<datalist id="Salud">
				  <option value="Contributivo">
				  <option value="Subsidiado"> 
				</datalist> 
				</div>
				
				<div class="mc-field-group" style="margin: 10px 0 0 0;">
			    <input type="text" value="" name="Discapacidad" class="required Discapacidad" id="" placeholder="Discapacidad" list="Discapacidad" tabindex = "16"
				  style="width: 237px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;" title="Posee usted algun tipo de Discapacidad!"/>
				<datalist id="Discapacidad">
				  <option value="Motora">
				  <option value="Congnitiva">
				   <option value="Auditiva">	
					<option value="Visual">
				</datalist> 
				
				
				<class="mc-field-group" style="margin: 10px 0 0 0;">
			    <input type="text" value="" name="OrigenDis" class="required OrigenDis" id="" placeholder="Orígen de la discapacidad" list="OrigenDis" tabindex = "17"
				  style="width: 237px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;" title="Cuando ocurrio la Incapacidad!"/>
				<datalist id="OrigenDis">
					<option value="Antes   del Hecho Victimizante">
					<option value="Durante del Hecho Victimizante">
				    <option value="Despues del Hecho Victimizante">	
					
				</datalist> 
				</div>
				
				
				<div class="hr" style="width: 99%; position: relative; left: 10px;"></div>
				
				<strong>
					Educación <br></br>
					</strong>
					
					
				<div class="mc-field-group" style="margin: 10px 0 0 0;">
			    <input type="text" value="" name="Estudio" class="required Estudio" id="" placeholder="Estudia Actualmente?" list="Estudio" tabindex = "18"
				  style="width: 200px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;" title="Estudia actualmente?!"/>
				<datalist id="Estudio">
				<option value="Si"> 
				  <option value="No"> 
				</datalist> 
				
				
				<class="mc-field-group" style="margin: 10px 0 0 0;">
			    <input type="text" value="" name="nivelEstudio" class="required nivelEstudio" id="" placeholder="Nivel de Estudios" list="nivelEstudio" tabindex = "19"
				  style="width: 200px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;" title="Que nivel alcanzó!"/>
				<datalist id="nivelEstudio">
					<option value="Ninguno"> 
					<option value="Preescolar">
					<option value="Primaria">
					<option value="Primaria incompleta">
					<option value="Secundaria">
					<option value="Secundaria incompleta">
					<option value="Técnico">
					<option value="Técnico inconpleto">
					<option value="Tecnológico">
					<option value="Tecnológico inconpleto">
					<option value="Universitario">
					<option value="Universitario inconpleto">	
					<option value="Posgrado">	
				</datalist> 
				
				
				
				<class="mc-field-group" style="margin: 10px 0 0 0;">
			    <input type="text" value="" name="Leer" class="required Leer" id="" placeholder="Sabe Leer?" list="Leer" tabindex = "20"
				  style="width: 200px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Sabe leer!"/>
				<datalist id="Leer">
				<option value="Si"> 
				  <option value="No"> 
				</datalist> 
				
				
				
				<class="mc-field-group" style="margin: 10px 0 0 0;">
			    <input type="text" value="" name="Escribir" class="required Escribir" id="" placeholder="Sabe Escribir?" list="Escribir" tabindex = "21"
				  style="width: 200px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;" title="Sabe escribir?!"/>
				<datalist id="Escribir">
				<option value="Si"> 
				  <option value="No"> 
				</datalist> 
				</div>
				
				
				<div class="mc-field-group" style="margin: 10px 0 0 0;">
			    <input type="text" value="" name="Capacitacion" class="required Capacitacion" id="" placeholder="Ha recibido Cursos de Capacitación?" list="Capacitacion" tabindex = "22"
				  style="width: 250px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;" title="Ha sido capacitado por algun ente gubernamental?"/>
				<datalist id="Capacitacion">
				<option value="Si"> 
				  <option value="No"> 
				</datalist> 
				
				
				
				<class="mc-field-group" style="margin: 10px 0 0 0;">
			    <input type="text" value="" name="Area" class="required Area" id="" placeholder="En que Área?" list="Area" tabindex = "23"
				  style="width: 200px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;" title="en que Área fue capacitado?"/>
				<datalist id="Area">
				<option value="Agricultura"> 
				  <option value="Construcción">
					<option value="Manofactura">
					<option value="Minería">
					<option value="Transporte">
					<option value="Servicios">
					<option value="Ventas">
					<option value="Turismo"> 
					<option value="Ganadería">
					<option value="Otros"> 										
				  
				</datalist> 
				
				
				<class="mc-field-group" style="margin: 10px 0 0 0;">
			    <input type="text" value="" name="EntidadC" class="EntidadC" id="" placeholder="Que entidad lo Capacitó?" list="EntidadC"tabindex = "24" 
				  style="width: 237px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;" title="Que entidad lo capacitó?"/>
				<datalist id="EntidadC">
				<option value="SENA"> 
				  <option value="ONG">
					<option value="Cámara de Comercio">
					<option value="Municipio">
					<option value="Departamento">
					<option value="Otra">
				</datalist> 
				</div>
				
				
				<div class="hr" style="width: 99%; position: relative; left: 10px;"></div>
				
				<strong>
					Información Laboral <br></br>
					</strong>
				
				
				<div class="mc-field-group" style="margin: 10px 0 0 0;">
			    <input type="text" value="" name="trabajo" class="required trabajo" id="" placeholder="Labora Actualmente?" list="trabajo" tabindex = "25"
				  style="width: 200px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="trabaja Actualmente?"/>
				<datalist id="trabajo">
				<option value="Si"> 
				  <option value="No"> 
				</datalist> 
				
				
				
				<class="mc-field-group" style="margin: 10px 0 0 0;">
			    <input type="text" value="" name="AreaTrabajo" class="required AreaTrabajo" id="" placeholder="En que Área?" list="AreaTrabajo" tabindex = "26"
				  style="width: 200px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;" title="Area de trabajo"/>
				<datalist id="AreaTrabajo">
				<option value="Agricultura"> 
				  <option value="Construcción">
					<option value="Manofactura">
					<option value="Minería">
					<option value="Transporte">
					<option value="Servicios">
					<option value="Ventas">
					<option value="Turismo"> 
					<option value="Ganadería">
					<option value="Otros"> 										
				  
				</datalist> 
				
				
				
				<class="mc-field-group" style="margin: 10px 0 0 0;">
			    <input type="text" value="" name="TipoTrabajo" class="required TipoTrabajo" id="" placeholder="Tipo de Vinculación Laboral" list="TipoTrabajo" tabindex = "27"
				  style="width: 237px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Que tipo de contrato tiene ?"/>
				<datalist id="TipoTrabajo">
				<option value="Contrato indefinido"> 
				  <option value="Contrato con termino definido">
					<option value="Trabajo Informal">
					<option value="Contrato de Prestación de servicios">	
				  
				</datalist> 
				</div>
				
				
				<div class="hr" style="width: 99%; position: relative; left: 10px;"></div>
				
				<strong>
					Grupo Étnico <br></br>
					</strong>
				
				<div class="mc-field-group" style="margin: 10px 0 0 0;">
			    <input type="text" value="" name="grupoetnico" class="required grupoetnico" id="" placeholder="Grupo Etnico(*)" list="grupoetnico" tabindex = "28"
				  style="width: 237px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;" title="Pertenece algun Grupo Etnico?"required title="Grupo etnico!"/>
				<datalist id="grupoetnico">
				<option value="Afrocolombiano"> 
				  <option value="Indígena">
					<option value="Raizal(San Andrés)">
					<option value="Gitano (ROM)">

						
				  
				</datalist> 
				</div>
				
				
				
				<div class="hr" style="width: 99%; position: relative; left: 10px;"></div>
				
			<div class="mc-field-group" style="margin: 10px 0 0 0;">
					
					<strong>
					HECHOS VICTIMIZANTES<br></br>
					</strong>
					
				<input type="checkbox" name="hecho_victimizante" value="Homicidio"> Homicidio----------------------------------------
				<input type="text" value="" name="hom_Ano" class="required " id="id_hom_Ano" placeholder="Año del hecho" list="año" tabindex = "29"
				  style="width: 120px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;" title="Año en que Ocurrio el hecho Victimizante!"/>
				<datalist id="año">
					<option value="No Sabe">
					<option value="2014">
				  <option value="2013"> 
				  <option value="2012">
				  <option value="2011">
				  <option value="2010">
				  <option value="2009">
				  <option value="2008">
				  <option value="2006">
				  <option value="2005">
				  <option value="2004">
				  <option value="2003">
				  <option value="2002">
				  <option value="2001">
				  <option value="2000">
				  <option value="1999">
				  <option value="1998">
				  <option value="1997">
				  <option value="1996">
				  <option value="1995">
				  <option value="1994">
				  <option value="1993">
				  <option value="1992">
				  <option value="1991">
				  <option value="1990">
				  <option value="1989">
				  <option value="1988">
				  <option value="1987">
				  <option value="1986">
				  <option value="1985">  				  
				</datalist> 
				<input type="text" value="" name="hom_Declarado" class="required declaro" id="id_hom_Declarado" placeholder="¿Declaró?" list="declaro" tabindex = "30"
				  style="width: 88px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="declaro">
				<option value="Si">
				<option value="No">
				</datalist> 
				<input type="text" value="" name="hom_Lugardeclarado" class="required lugar" id="id_hom_Lugardeclarado" placeholder="¿Donde Declaró?" list="Lugardeclaro" tabindex = "31"
				  style="width: 135px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;" title="Por favor selecciona un Sexo!"/>
				<datalist id="Lugardeclaro">
				<option value="Personería">
				<option value="Defensoría">
				<option value="Procuraduría">
				<option value="Fiscalia">
				<option value="UAV">
				</datalist> 
				<input type="text" value="" name="hom_Estadodeclaracion" class="required " id="id_hom_Estadodeclaracion" placeholder="Estado" list="estado" tabindex = "32"
				  style="width: 88px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="estado">
					<option value="incluido">
					<option value="Excluido">
				</datalist>
				
				</div>
					
				<div class="mc-field-group" style="margin: 10px 0 0 0;">
				<input type="checkbox" name="hecho_victimizante" value="Desaparicion"> Desaparición Forzada------------------------
				 <input type="text" value="" name="des_Ano" class="required Sexo" id="foo" placeholder="Año del hecho" list="año" tabindex = "34"
				  style="width: 120px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;" title="Por favor selecciona un Sexo!"/>
				<datalist id="año">
				<option value="No Sabe">
					<option value="2014">
				  <option value="2013"> 
				  <option value="2012">
				  <option value="2011">
				  <option value="2010">
				  <option value="2009">
				  <option value="2008">
				  <option value="2006">
				  <option value="2005">
				  <option value="2004">
				  <option value="2003">
				  <option value="2002">
				  <option value="2001">
				  <option value="2000">
				  <option value="1999">
				  <option value="1998">
				  <option value="1997">
				  <option value="1996">
				  <option value="1995">
				  <option value="1994">
				  <option value="1993">
				  <option value="1992">
				  <option value="1991">
				  <option value="1990">
				  <option value="1989">
				  <option value="1988">
				  <option value="1987">
				  <option value="1986">
				  <option value="1985">  				  
				</datalist> 
				<input type="text" value="" name="des_Declarado" class="required declaro" id="foo" placeholder="¿Declaró?" list="declaro" tabindex = "35"
				  style="width: 88px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="declaro">
				<option value="Si">
				<option value="No">
				</datalist> 
				<input type="text" value="" name="des_Lugardeclarado" class="required lugar" id="lugar" placeholder="¿Donde Declaró?" list="Lugardeclaro"tabindex = "36" 
				  style="width: 135px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="Lugardeclaro">
				<option value="Personería">
				<option value="Defensoría">
				<option value="Procuraduría">
				<option value="Fiscalia">
				<option value="UAV">
				</datalist> 
				<input type="text" value="" name="des_Estadodeclaracion" class="required Sexo" id="foo" placeholder="Estado" list="estado" tabindex = "37"
				  style="width: 88px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="estado">
				<option value="incluido">
					<option value="Excluido">
				</datalist>
				</div>
				
				<div class="mc-field-group" style="margin: 10px 0 0 0;">
				<input type="checkbox" name="hecho_victimizante" value="Secuestro"> Secuestro----------------------------------------
				 <input type="text" value="" name="" class="required Sexo" id="foo" placeholder="Año del hecho" list="año" tabindex = "39"
				  style="width: 120px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;" title="Por favor selecciona un Sexo!"/>
				<datalist id="año">
				<option value="No Sabe">
					<option value="2014">
				  <option value="2013"> 
				  <option value="2012">
				  <option value="2011">
				  <option value="2010">
				  <option value="2009">
				  <option value="2008">
				  <option value="2006">
				  <option value="2005">
				  <option value="2004">
				  <option value="2003">
				  <option value="2002">
				  <option value="2001">
				  <option value="2000">
				  <option value="1999">
				  <option value="1998">
				  <option value="1997">
				  <option value="1996">
				  <option value="1995">
				  <option value="1994">
				  <option value="1993">
				  <option value="1992">
				  <option value="1991">
				  <option value="1990">
				  <option value="1989">
				  <option value="1988">
				  <option value="1987">
				  <option value="1986">
				  <option value="1985">  				  
				</datalist> 
				<input type="text" value="" name="declaro" class="required declaro" id="foo" placeholder="¿Declaró?" list="declaro" tabindex = "40"
				  style="width: 88px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="declaro">
				<option value="Si">
				<option value="No">
				</datalist> 
				<input type="text" value="" name="lugar" class="required lugar" id="lugar" placeholder="¿Donde Declaró?" list="Lugardeclaro" tabindex = "41"
				  style="width: 135px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="Lugardeclaro">
				<option value="Personería">
				<option value="Defensoría">
				<option value="Procuraduría">
				<option value="Fiscalia">
				<option value="UAV">
				</datalist> 
				<input type="text" value="" name="" class="required Sexo" id="foo" placeholder="Estado" list="estado" tabindex = "42"
				  style="width: 88px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="estado">
				<option value="incluido">
					<option value="Excluido">
					
					<input type="text" value="" name="Fiscalia" class="required Fiscalia" id="Fiscalia" placeholder="¿Fiscalia?" list="Fiscalia" tabindex = "43"
				  style="width: 88px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;" title="Por favor selecciona un Sexo!"/>
				<datalist id="Fiscalia">
				<option value="Si">
				<option value="No">
				</datalist> 				
				</div>
				
				<div class="mc-field-group" style="margin: 10px 0 0 0;">
				<input type="checkbox" name="hecho_victimizante" value="Lesionespersonales"> Lesiones personales o Psicologicas------
				 <input type="text" value="" name="" class="required Sexo" id="foo" placeholder="Año del hecho" list="año" tabindex = "44"
				  style="width: 120px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;" title="Por favor selecciona un Sexo!"/>
				<datalist id="año">
				<option value="No Sabe">
					<option value="2014">
				  <option value="2013"> 
				  <option value="2012">
				  <option value="2011">
				  <option value="2010">
				  <option value="2009">
				  <option value="2008">
				  <option value="2006">
				  <option value="2005">
				  <option value="2004">
				  <option value="2003">
				  <option value="2002">
				  <option value="2001">
				  <option value="2000">
				  <option value="1999">
				  <option value="1998">
				  <option value="1997">
				  <option value="1996">
				  <option value="1995">
				  <option value="1994">
				  <option value="1993">
				  <option value="1992">
				  <option value="1991">
				  <option value="1990">
				  <option value="1989">
				  <option value="1988">
				  <option value="1987">
				  <option value="1986">
				  <option value="1985">  				  
				</datalist> 
				<input type="text" value="" name="declaro" class="required declaro" id="foo" placeholder="¿Declaró?" list="declaro" tabindex = "45"
				  style="width: 88px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="declaro">
				<option value="Si">
				<option value="No">
				</datalist> 
				<input type="text" value="" name="lugar" class="required lugar" id="lugar" placeholder="¿Donde Declaró?" list="Lugardeclaro" tabindex = "46"
				  style="width: 135px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="Lugardeclaro">
				<option value="Personería">
				<option value="Defensoría">
				<option value="Procuraduría">
				<option value="Fiscalia">
				<option value="UAV">
				</datalist> 
				<input type="text" value="" name="" class="required Sexo" id="foo" placeholder="Estado" list="estado" tabindex = "47"
				  style="width: 88px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="estado">
				<option value="incluido">
					<option value="Excluido">
					
					<input type="text" value="" name="Fiscalia" class="required Fiscalia" id="Fiscalia" placeholder="¿Fiscalia?" list="Fiscalia" tabindex = "48"
				  style="width: 88px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="Fiscalia">
				<option value="Si">
				<option value="No">
				</datalist> 
				</div>
				
				<div class="mc-field-group" style="margin: 10px 0 0 0;">					
				<input type="checkbox" name="hecho_victimizante" value="Tortura"> Tortura--------------------------------------------
				 <input type="text" value="" name="" class="required Sexo" id="foo" placeholder="Año del hecho" list="año" tabindex = "49"
				  style="width: 120px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="año">
				<option value="No Sabe">
					<option value="2014">
				  <option value="2013"> 
				  <option value="2012">
				  <option value="2011">
				  <option value="2010">
				  <option value="2009">
				  <option value="2008">
				  <option value="2006">
				  <option value="2005">
				  <option value="2004">
				  <option value="2003">
				  <option value="2002">
				  <option value="2001">
				  <option value="2000">
				  <option value="1999">
				  <option value="1998">
				  <option value="1997">
				  <option value="1996">
				  <option value="1995">
				  <option value="1994">
				  <option value="1993">
				  <option value="1992">
				  <option value="1991">
				  <option value="1990">
				  <option value="1989">
				  <option value="1988">
				  <option value="1987">
				  <option value="1986">
				  <option value="1985">  				  
				</datalist> 
				<input type="text" value="" name="declaro" class="required declaro" id="foo" placeholder="¿Declaró?" list="declaro" tabindex = "50"
				  style="width: 88px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="declaro">
				<option value="Si">
				<option value="No">
				</datalist> 
				<input type="text" value="" name="lugar" class="required lugar" id="lugar" placeholder="¿Donde Declaró?" list="Lugardeclaro" tabindex = "51"
				  style="width: 135px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="Lugardeclaro">
				<option value="Personería">
				<option value="Defensoría">
				<option value="Procuraduría">
				<option value="Fiscalia">
				<option value="UAV">
				</datalist> 
				<input type="text" value="" name="" class="required Sexo" id="foo" placeholder="Estado" list="estado" tabindex = "52"
				  style="width: 88px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="estado">
				<option value="incluido">
					<option value="Excluido">
					
					<input type="text" value="" name="Fiscalia" class="required Fiscalia" id="Fiscalia" placeholder="¿Fiscalia?" list="Fiscalia" tabindex = "53"
				  style="width: 88px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="Fiscalia">
				<option value="Si">
				<option value="No">
				</datalist> 
				</div>
					
				<div class="mc-field-group" style="margin: 10px 0 0 0;">	
				<input type="checkbox" name="hecho_victimizante" value="Delitoslibertad"> Delitos contra la libertad <div class="mc-field-group" style="margin: 10px 1 0 0;">e integridad Sexual.-------------------------------
				 <input type="text" value="" name="" class="required Sexo" id="foo" placeholder="Año del hecho" list="año" tabindex = "54"
				  style="width: 120px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="año">
				<option value="No Sabe">
					<option value="2014">
				  <option value="2013"> 
				  <option value="2012">
				  <option value="2011">
				  <option value="2010">
				  <option value="2009">
				  <option value="2008">
				  <option value="2006">
				  <option value="2005">
				  <option value="2004">
				  <option value="2003">
				  <option value="2002">
				  <option value="2001">
				  <option value="2000">
				  <option value="1999">
				  <option value="1998">
				  <option value="1997">
				  <option value="1996">
				  <option value="1995">
				  <option value="1994">
				  <option value="1993">
				  <option value="1992">
				  <option value="1991">
				  <option value="1990">
				  <option value="1989">
				  <option value="1988">
				  <option value="1987">
				  <option value="1986">
				  <option value="1985">  				  
				</datalist> 
				<input type="text" value="" name="declaro" class="required declaro" id="foo" placeholder="¿Declaró?" list="declaro" tabindex = "55"
				  style="width: 88px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="declaro">
				<option value="Si">
				<option value="No">
				</datalist> 
				<input type="text" value="" name="lugar" class="required lugar" id="lugar" placeholder="¿Donde Declaró?" list="Lugardeclaro" tabindex = "56"
				  style="width: 135px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="Lugardeclaro">
				<option value="Personería">
				<option value="Defensoría">
				<option value="Procuraduría">
				<option value="Fiscalia">
				<option value="UAV">
				</datalist> 
				<input type="text" value="" name="" class="required Sexo" id="foo" placeholder="Estado" list="estado" tabindex = "57"
				  style="width: 88px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;" title="Por favor selecciona un Sexo!"/>
				<datalist id="estado">
					<option value="incluido">
					<option value="Excluido">
				</datalist>	
				<div class="mc-field-group" style="margin: 10px 0 0 0;">
				<input type="checkbox" name="hecho_victimizante" value="Reclutamiento"> Reclutamiento ilegal de menores.--------
				 <input type="text" value="" name="" class="required Sexo" id="foo" placeholder="Año del hecho" list="año" tabindex = "59"
				  style="width: 120px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="año">
				<option value="No Sabe">
					<option value="2014">
				  <option value="2013"> 
				  <option value="2012">
				  <option value="2011">
				  <option value="2010">
				  <option value="2009">
				  <option value="2008">
				  <option value="2006">
				  <option value="2005">
				  <option value="2004">
				  <option value="2003">
				  <option value="2002">
				  <option value="2001">
				  <option value="2000">
				  <option value="1999">
				  <option value="1998">
				  <option value="1997">
				  <option value="1996">
				  <option value="1995">
				  <option value="1994">
				  <option value="1993">
				  <option value="1992">
				  <option value="1991">
				  <option value="1990">
				  <option value="1989">
				  <option value="1988">
				  <option value="1987">
				  <option value="1986">
				  <option value="1985">  				  
				</datalist> 
				<input type="text" value="" name="declaro" class="required declaro" id="foo" placeholder="¿Declaró?" list="declaro" tabindex = "60"
				  style="width: 88px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="declaro">
				<option value="Si">
				<option value="No">
				</datalist> 
				<input type="text" value="" name="lugar" class="required lugar" id="lugar" placeholder="¿Donde Declaró?" list="Lugardeclaro" tabindex = "61"
				  style="width: 135px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="Lugardeclaro">
				<option value="Personería">
				<option value="Defensoría">
				<option value="Procuraduría">
				<option value="Fiscalia">
				<option value="UAV">
				</datalist> 
				<input type="text" value="" name="" class="required Sexo" id="foo" placeholder="Estado" list="estado" tabindex = "62"
				  style="width: 88px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="estado">
					<option value="incluido">
					<option value="Excluido">
				</datalist> 	
					<div class="mc-field-group" style="margin: 10px 0 0 0;">
					<input type="checkbox" name="hecho_victimizante" value="Desplazamientof"> Desplazamiento forzado.---------------------
					<input type="text" value="" name="" class="required Sexo" id="foo" placeholder="Año del hecho" list="año" tabindex = "64"
				  style="width: 120px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;" title="Por favor selecciona un Sexo!"/>
				<datalist id="año">
				<option value="No Sabe">
					<option value="2014">
				  <option value="2013"> 
				  <option value="2012">
				  <option value="2011">
				  <option value="2010">
				  <option value="2009">
				  <option value="2008">
				  <option value="2006">
				  <option value="2005">
				  <option value="2004">
				  <option value="2003">
				  <option value="2002">
				  <option value="2001">
				  <option value="2000">
				  <option value="1999">
				  <option value="1998">
				  <option value="1997">
				  <option value="1996">
				  <option value="1995">
				  <option value="1994">
				  <option value="1993">
				  <option value="1992">
				  <option value="1991">
				  <option value="1990">
				  <option value="1989">
				  <option value="1988">
				  <option value="1987">
				  <option value="1986">
				  <option value="1985">  				  
				</datalist> 
				<input type="text" value="" name="declaro" class="required declaro" id="foo" placeholder="¿Declaró?" list="declaro" tabindex = "65"
				  style="width: 88px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="declaro">
				<option value="Si">
				<option value="No">
				</datalist> 
				<input type="text" value="" name="lugar" class="required lugar" id="lugar" placeholder="¿Donde Declaró?" list="Lugardeclaro" tabindex = "66"
				  style="width: 135px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="Lugardeclaro">
				<option value="Personería">
				<option value="Defensoría">
				<option value="Procuraduría">
				<option value="Fiscalia">
				<option value="UAV">
				</datalist> 
				<input type="text" value="" name="" class="required Sexo" id="foo" placeholder="Estado" list="estado" tabindex = "67"
				  style="width: 88px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="estado">
				<option value="incluido">
					<option value="Excluido">
					
					<input type="text" value="" name="Fiscalia" class="required Fiscalia" id="Fiscalia" placeholder="¿Fiscalia?" list="Fiscalia" tabindex = "68"
				  style="width: 88px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="Fiscalia">
				<option value="Si">
				<option value="No">
				</datalist> 
				</div>
					</div>
				
					<div class="mc-field-group" style="margin: 10px 0 0 0;">					
					<input type="checkbox" name="hecho_victimizante" value="Minas">Minas antipersonales---------------------------
					<input type="text" value="" name="" class="required Sexo" id="foo" placeholder="Año del hecho" list="año" tabindex = "69"
				  style="width: 120px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="año">
				<option value="No Sabe">
					<option value="2014">
				  <option value="2013"> 
				  <option value="2012">
				  <option value="2011">
				  <option value="2010">
				  <option value="2009">
				  <option value="2008">
				  <option value="2006">
				  <option value="2005">
				  <option value="2004">
				  <option value="2003">
				  <option value="2002">
				  <option value="2001">
				  <option value="2000">
				  <option value="1999">
				  <option value="1998">
				  <option value="1997">
				  <option value="1996">
				  <option value="1995">
				  <option value="1994">
				  <option value="1993">
				  <option value="1992">
				  <option value="1991">
				  <option value="1990">
				  <option value="1989">
				  <option value="1988">
				  <option value="1987">
				  <option value="1986">
				  <option value="1985">  				  
				</datalist> 
				<input type="text" value="" name="declaro" class="required declaro" id="foo" placeholder="¿Declaró?" list="declaro" tabindex = "70"
				  style="width: 88px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="declaro">
				<option value="Si">
				<option value="No">
				</datalist> 
				<input type="text" value="" name="lugar" class="required lugar" id="lugar" placeholder="¿Donde Declaró?" list="Lugardeclaro" tabindex = "71"
				  style="width: 135px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="Lugardeclaro">
				<option value="Personería">
				<option value="Defensoría">
				<option value="Procuraduría">
				<option value="Fiscalia">
				<option value="UAV">
				</datalist> 
				<input type="text" value="" name="" class="required Sexo" id="foo" placeholder="Estado" list="estado" tabindex = "72"
				  style="width: 88px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="estado">
				<option value="incluido">
					<option value="Excluido">
					
					<input type="text" value="" name="Fiscalia" class="required Fiscalia" id="Fiscalia" placeholder="¿Fiscalia?" list="Fiscalia" tabindex = "73"
				  style="width: 88px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="Fiscalia">
				<option value="Si">
				<option value="No">
				</datalist> 
				</div>
				
				<div class="mc-field-group" style="margin: 10px 0 0 0;">
				<input type="checkbox" name="hecho_victimizante" value="Abandono"> Abandono Forzado o despojo de tierras--
				<input type="text" value="" name="" class="required Sexo" id="foo" placeholder="Año del hecho" list="año" tabindex = "74"
				  style="width: 120px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="año">
				<option value="No Sabe">
					<option value="2014">
				  <option value="2013"> 
				  <option value="2012">
				  <option value="2011">
				  <option value="2010">
				  <option value="2009">
				  <option value="2008">
				  <option value="2006">
				  <option value="2005">
				  <option value="2004">
				  <option value="2003">
				  <option value="2002">
				  <option value="2001">
				  <option value="2000">
				  <option value="1999">
				  <option value="1998">
				  <option value="1997">
				  <option value="1996">
				  <option value="1995">
				  <option value="1994">
				  <option value="1993">
				  <option value="1992">
				  <option value="1991">
				  <option value="1990">
				  <option value="1989">
				  <option value="1988">
				  <option value="1987">
				  <option value="1986">
				  <option value="1985">  				  
				</datalist> 
				<input type="text" value="" name="declaro" class="required declaro" id="foo" placeholder="¿Declaró?" list="declaro" tabindex = "75"
				  style="width: 88px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="declaro">
				<option value="Si">
				<option value="No">
				</datalist> 
				<input type="text" value="" name="lugar" class="required lugar" id="lugar" placeholder="¿Donde Declaró?" list="Lugardeclaro" tabindex = "76"
				  style="width: 135px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="Lugardeclaro">
				<option value="Personería">
				<option value="Defensoría">
				<option value="Procuraduría">
				<option value="Fiscalia">
				<option value="UAV">
				</datalist> 
				<input type="text" value="" name="" class="required Sexo" id="foo" placeholder="Estado" list="estado" tabindex = "77"
				  style="width: 88px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="estado">
				<option value="incluido">
					<option value="Excluido">
					
					
				</div>
				
				<div class="mc-field-group" style="margin: 10px 0 0 0;">
				<input type="checkbox" name="hecho_victimizante" value="Masacre"> Masacre.------------------------------------------
				<input type="text" value="" name="" class="required Sexo" id="foo" placeholder="Año del hecho" list="año" tabindex = "79"
				  style="width: 120px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="año">
				<option value="No Sabe">
					<option value="2014">
				  <option value="2013"> 
				  <option value="2012">
				  <option value="2011">
				  <option value="2010">
				  <option value="2009">
				  <option value="2008">
				  <option value="2006">
				  <option value="2005">
				  <option value="2004">
				  <option value="2003">
				  <option value="2002">
				  <option value="2001">
				  <option value="2000">
				  <option value="1999">
				  <option value="1998">
				  <option value="1997">
				  <option value="1996">
				  <option value="1995">
				  <option value="1994">
				  <option value="1993">
				  <option value="1992">
				  <option value="1991">
				  <option value="1990">
				  <option value="1989">
				  <option value="1988">
				  <option value="1987">
				  <option value="1986">
				  <option value="1985">  				  
				</datalist> 
				<input type="text" value="" name="declaro" class="required declaro" id="foo" placeholder="¿Declaró?" list="declaro" tabindex = "80"
				  style="width: 88px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="declaro">
				<option value="Si">
				<option value="No">
				</datalist> 
				<input type="text" value="" name="lugar" class="required lugar" id="lugar" placeholder="¿Donde Declaró?" list="Lugardeclaro" tabindex = "81"
				  style="width: 135px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="Lugardeclaro">
				<option value="Personería">
				<option value="Defensoría">
				<option value="Procuraduría">
				<option value="Fiscalia">
				<option value="UAV">
				</datalist> 
				<input type="text" value="" name="" class="required Sexo" id="foo" placeholder="Estado" list="estado" tabindex = "82"
				  style="width: 88px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="estado">
				<option value="incluido">
					<option value="Excluido">
				</datalist>	
				<div class="mc-field-group" style="margin: 10px 0 0 0;">
				<input type="checkbox" name="hecho_victimizante" value="Perdidabienes">Perdida de Bienes.------------------------------	
				<input type="text" value="" name="" class="required Sexo" id="foo" placeholder="Año del hecho" list="año" tabindex = "84"
				  style="width: 120px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="año">
				<option value="No Sabe">
					<option value="2014">
				  <option value="2013"> 
				  <option value="2012">
				  <option value="2011">
				  <option value="2010">
				  <option value="2009">
				  <option value="2008">
				  <option value="2006">
				  <option value="2005">
				  <option value="2004">
				  <option value="2003">
				  <option value="2002">
				  <option value="2001">
				  <option value="2000">
				  <option value="1999">
				  <option value="1998">
				  <option value="1997">
				  <option value="1996">
				  <option value="1995">
				  <option value="1994">
				  <option value="1993">
				  <option value="1992">
				  <option value="1991">
				  <option value="1990">
				  <option value="1989">
				  <option value="1988">
				  <option value="1987">
				  <option value="1986">
				  <option value="1985">  				  
				</datalist> 
				<input type="text" value="" name="declaro" class="required declaro" id="foo" placeholder="¿Declaró?" list="declaro" tabindex = "85"
				  style="width: 88px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="declaro">
				<option value="Si">
				<option value="No">
				</datalist> 
				<input type="text" value="" name="lugar" class="required lugar" id="lugar" placeholder="¿Donde Declaró?" list="Lugardeclaro" tabindex = "86"
				  style="width: 135px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"/>
				<datalist id="Lugardeclaro">
				<option value="Personería">
				<option value="Defensoría">
				<option value="Procuraduría">
				<option value="Fiscalia">
				<option value="UAV">
				</datalist> 
				<input type="text" value="" name="" class="required Sexo" id="foo" placeholder="Estado" list="estado" tabindex = "87"
				  style="width: 88px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="estado">
				<option value="incluido">
				<option value="Excluido">
				</datalist>
					
				</div>
				</div>
				
			<div class="hr" style="width: 99%; position: relative; left: 10px;"></div>
			<div class="mc-field-group" style="margin: 10px 0 0 0;">
					<strong>
					DESPLAZAMIENTO<br></br>
					</strong>
					
				<input type="text" value="TipoDesplazamiento" name="TipoDesplazamiento" class="required Fiscalia" id="" placeholder="Tipo de Desplazamiento(*)" list="TipoDesplazamiento" tabindex = "89"
				style="width: 200px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Masivo cuando son Más de 10 personas E individual si es menor a 10 " required title="Tipo de desplzamiento!"/>
				<datalist id="TipoDesplazamiento">
				<option value="Masivo">
				<option value="Individual">
				</datalist> 
				</div>
				<div class="hr" style="width: 99%; position: relative; left: 10px;"></div>
				
				<div class="mc-field-group" style="margin: 10px 0 0 0;">
					<strong>
					Causas a las que atribuye el Desplazamiento<br></br>
					</strong>
					
					
					<class="mc-field-group" style="margin: 10px 0 0 0;">					
					<input type="checkbox" name=Causasdeldesplazamiento value="Confrontación">Confrontación Armada <br></br>
					<input type="checkbox" name=Causasdeldesplazamiento value="Amenaza Directa">Amenaza Directa <br></br>
					<input type="checkbox" name=Causasdeldesplazamiento value="Amenaza indirecta">Amenaza indirecta<br></br>
					<input type="checkbox" name=Causasdeldesplazamiento value="Reclutamiento de menores">Reclutamiento de menores<br></br>					
					<input type="checkbox" name=Causasdeldesplazamiento value="Campos minados">Campos Minados<br></br>
					<input type="checkbox" name=Causasdeldesplazamiento value="Asesinato de Familiar">Asesinato de Familiar<br></br>
					<input type="checkbox" name=Causasdeldesplazamiento value="Violencia Generalizada">Violencia Generalizada.<br></br>
					<input type="checkbox" name=Causasdeldesplazamiento value="Otra">Otra<br></br>
				</div>
					</div>
				<div class="hr" style="width: 99%; position: relative; left: 10px;"></div>
						
						
					<strong>
					Retorno<br></br>
					</strong>
					
				<input type="text" value="" name="Retorno" class="required Fiscalia" id="" placeholder="Usted Retorno al Lugar de donde se dezplazó?" list="retorno" 
				style="width: 350px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Masivo cuando son Más de 10 personas E individual si es menor a 10 " tabindex="90"/>
				<datalist id="retorno">
				<option value="Si">
				<option value="No">
				</datalist> 
				
				<input type="text" value="" name="DeseaRetornar" class="required Fiscalia" id="" placeholder="Desea Retornar?" list="DRetorno" 
				style="width: 237px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Masivo cuando son Más de 10 personas E individual si es menor a 10 "tabindex="91"/>
				<datalist id="DRetorno">
				<option value="Si">
				<option value="No">
				</datalist> 
				
				<input type="text" value="" name="TipoRetorno" class="required Fiscalia" id="" placeholder="Tipo de Retorno?" list="TipoRetorno" 
				style="width: 237px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Masivo cuando son Más de 10 personas E individual si es menor a 10 "tabindex="92"/>
				<datalist id="TipoRetorno">
				<option value="Individual">
				<option value="Masivo">
				</datalist> 
				
				
				
				<input type="text" value="" name="QuienRetorno" class="required Fiscalia" id="" placeholder="Retorno Toda la Familia?" list="QuienRetorno" 
				style="width: 350px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Masivo cuando son Más de 10 personas E individual si es menor a 10 "tabindex="93"/>
				<datalist id="QuienRetorno">
				<option value="Si">
				<option value="No">
				</datalist> 
					
				<input type="text" value="" name="RetornoAcompanado" class="required Fiscalia" id="" placeholder="Su Retorno fue acompañado?" list="RetornoAcompañado" 
				style="width: 237px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Masivo cuando son Más de 10 personas E individual si es menor a 10 "tabindex="94"/>
				<datalist id="RetornoAcompañado">
				<option value="Si">
				<option value="No">
				</datalist> 
					
				<input type="text" value="" name="PlanRetorno" class="required Fiscalia" id="" placeholder="Se formuló un plan de Retorno?" list="PlanRetorno" 
				style="width: 237px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Masivo cuando son Más de 10 personas E individual si es menor a 10 "tabindex="95"/>
				<datalist id="PlanRetorno">
				<option value="Si">
				<option value="No">
				</datalist> 
				
				<div class="hr" style="width: 99%; position: relative; left: 10px;"></div>				
					<strong>
					Reubicación<br></br>
					</strong>
					
					
				<input type="text" value="" name="Reubicarse" class="required Fiscalia" id="" placeholder="El hogar desea Reubicarse?" list="Reubicarse" 
				style="width: 237px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Masivo cuando son Más de 10 personas E individual si es menor a 10 "tabindex="96"/>
				<datalist id="Reubicarse">
				<option value="Si">
				<option value="No">
				</datalist> 
				
				
				<input type="text" value="" name="Razon" class="required Fiscalia" id="" placeholder="Razón por la cual desea Reubicarse?" list="Razon" 
				style="width: 280px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Masivo cuando son Más de 10 personas E individual si es menor a 10 "tabindex="97"/>
				<datalist id="Razon">
				<option value="Se siente Discriminado">
				<option value="La ciudad es Insegura">
				<option value="No hay oprtunidades de trabajo">
				<option value="Prefiere el lugar donde vivía antes">
				<option value="No ha recibido ayuda estatal">
				<option value="Motivo Familiar">
				</datalist> 
				<div class="hr" style="width: 99%; position: relative; left: 10px;"></div>				
				<strong>
					Reunificación Familiar<br></br>
					</strong>
					
					
					
				<input type="text" value="" name="Separacion" class="required Fiscalia" id="" placeholder="En el momento del dezplazamiento la Familia se separó?" list="Separacion" 
				style="width: 237px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Masivo cuando son Más de 10 personas E individual si es menor a 10 "tabindex="98"/>
				<datalist id="Separacion">
				<option value="Si">
				<option value="No">
				</datalist> 
				
				
					
				<input type="text" value="" name="Unificacion" class="required Fiscalia" id="" placeholder="Se volvió a Unificar?" list="Unificar" 
				style="width: 237px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Masivo cuando son Más de 10 personas E individual si es menor a 10 "tabindex="99"/>
				<datalist id="Unificar">
				<option value="Si">
				<option value="No">
				</datalist> 
				
				
					
				<input type="text" value="" name="AyudaEstatal" class="required Fiscalia" id="" placeholder="Solicito ayuda Estatal para la Reunificación?" list="Ayuda" 
				style="width: 320px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Masivo cuando son Más de 10 personas E individual si es menor a 10 "tabindex="100"/>
				<datalist id="Ayuda">
				<option value="Si">
				<option value="No">
				</datalist> 
				
				
					
				<input type="text" value="" name="RecibioAyuda" class="required Fiscalia" id="" placeholder="Recibio la ayuda Solicitada?" list="Rayuda" 
				style="width: 237px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Masivo cuando son Más de 10 personas E individual si es menor a 10 "tabindex="101"/>
				<datalist id="Rayuda">
				<option value="Si">
				<option value="No">
				</datalist> 
				
				<div class="hr" style="width: 99%; position: relative; left: 10px;"></div>				
				<strong>
					Refugio<br></br>
					</strong>
				
					
				<input type="text" value="" name="Refugio" class="required Fiscalia" id="" placeholder="Ha solicitado Refugio?" list="Refugio" 
				style="width: 237px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Masivo cuando son Más de 10 personas E individual si es menor a 10 "tabindex="102"/>
				<datalist id="Refugio">
				<option value="Si">
				<option value="No">
				</datalist> 
				
				<div>
				<input type="text" value="" name="Pais" class="required textInput rounded" id="pais" placeholder="En que país?"
			  style="width: 237px; margin-right: 3px; float: left; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;" tabindex="103"/>
				
				<input type="text" value="" name="AnoRefugio" class="required Sexo" id="Sexo" placeholder="Año" list="año" 
				  style="width: 120px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;" title="Año en que Ocurrio el hecho Victimizante!"tabindex="104"/>
				<datalist id="año">
				<option value="No Sabe">
					<option value="2014">
				  <option value="2013"> 
				  <option value="2012">
				  <option value="2011">
				  <option value="2010">
				  <option value="2009">
				  <option value="2008">
				  <option value="2006">
				  <option value="2005">
				  <option value="2004">
				  <option value="2003">
				  <option value="2002">
				  <option value="2001">
				  <option value="2000">
				  <option value="1999">
				  <option value="1998">
				  <option value="1997">
				  <option value="1996">
				  <option value="1995">
				  <option value="1994">
				  <option value="1993">
				  <option value="1992">
				  <option value="1991">
				  <option value="1990">
				  <option value="1989">
				  <option value="1988">
				  <option value="1987">
				  <option value="1986">
				  <option value="1985">  				  
				</datalist> 
				
					
				<input type="text" value="" name="RecibioAyudaRefugio" class="required Fiscalia" id="" placeholder="Recibio Ayuda?" list="Ayuda2" 
				style="width: 150px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Masivo cuando son Más de 10 personas E individual si es menor a 10 "tabindex="105"/>
				<datalist id="Ayuda2">
				<option value="Si">
				<option value="No">
				</datalist> 
				
					
				<input type="text" value="" name="Organizacion" class="required Fiscalia" id="" placeholder="Que organización le Entrego la ayuda?" list="Organizacion" 
				style="width: 300px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Masivo cuando son Más de 10 personas E individual si es menor a 10 "tabindex="106"/>
				<datalist id="Organizacion">
				<option value="Entidad del Gobierno">
				<option value="ANCUR">
				<option value="ONG">
				<option value="Iglesias">
				<option value="Otros">
				</datalist> 
				
				</div>
				
			<div id="mce-responses" class="clear">
			  <div class="response" id="mce-error-response" style="display:none"></div>
			  <div class="response" id="mce-success-response" style="display:none"></div>
			</div>
			<button type="submit" name="guardar" value="guardar" class="button btn" id="mc-embedded-guardar">
				<span style="margin-top: -1px;">Guardar</span>
			</button>
			
			

		</form>
      </div>
    <%- include layouts/footer.ejs %>
