<%- include layouts/header.ejs %>
    <div class="full-page">
      <h1 class="headline">
        <strong>
          <%=page_title%>
        </strong>
      </h1>
      <div class="">
    	<form method="post" action="/caracterizacion">		
			
			<div class="mc-field-group" style="margin: 10px 0 0 0;">
			    <input type="text" value="" name="Tipodocumento" class="required tipodocumento" id="id_tipodocumento" placeholder="Tipo de Documento" list="tipodedocumentos" 
				  style="width: 237px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;" required title="Por favor ingresa un tipo de documento!"/>
				<datalist id="tipodedocumentos">
				  <option value="Cedula de Ciudadania">
				  <option value="Registro Civil">
				  <option value="Tarjeta de Identidad"> 
				</datalist> 
			  <input type="text" value="" name="Numerodocumento" class="required numerodocumento" id="id_numerodocumento" placeholder="Numero de Documento"
			  style="width: 237px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;" required title="Por favor ingresa un numero de documento!"/>
			
			
			<div class="mc-field-group">
			  <input type="text" value="" name="Nombres" class="required textInput rounded" id="mce-FNAME" placeholder="Nombres"
			  style="width: 237px; margin-right: 3px; float: left; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;" />
			</div>
			<class="mc-field-group">
			  <input type="text" value="" name="Apellidos" class="required textInput rounded" id="mce-LNAME" placeholder="Apellidos"
			  style="width: 237px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;" />
			
			
			<class="mc-field-group" style="margin: 10px 0 0 0;">
			    <input type="text" value="" name="Sexo" class="required Sexo" id="Sexo" placeholder="Sexo" list="Sexos" 
				  style="width: 100px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;" required title="Por favor selecciona un Sexo!"/>
				<datalist id="Sexos">
				<option value="Masculino">
				  <option value="Femenino"> 
				</datalist> 
				
				
				<class="mc-field-group" style="margin: 10px 0 0 0 ;">
			    <input type="text" value="" name="Orientacionsexual"  id="Orientacionsexual" placeholder="Orientación Sexual" list="LGBTI" 
				  style="width: 237px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;" title="Por favor Seleccione una orientacion sexual!"/>
				<datalist id="LGBTI">
				  <option value="Heterosexual">
				  <option value="Homosexual">
				  <option value="Travesti">
				  <option value="TransSexual">
				  <option value="Bisexual">
				</datalist> 
			</div>	
				
				<div class="mc-field-group" style="margin: 10px 0 0 0;">
			    <input type="text" value="" name="LibretaMilitar" class="required LibretaMilitar" id="sexo" placeholder="Libreta Militar" list="LibretaMilitar" 
				  style="width: 237px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;" title="Tiene libreta Militar?"/>
				<datalist id="LibretaMilitar">
				<option value="Si">
				  <option value="No"> 
				</datalist> 
				
				
				<class="mc-field-group" style="margin: 10px 0 0 0;">
			    <input type="text" value="" name="JefeHogar" class="required JefeHogar" id="sexo" placeholder="Usted es jefe del Hogar ?" list="JefeHogar" 
				  style="width: 237px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="jefe del hogar o Cabeza de Famlia"/>
				<datalist id="JefeHogar">
				  <option value="Si"> 
				  <option value="No"> 
				</datalist> 
				
				
				<class="mc-field-group" style="margin: 10px 0 0 0;">
			    <input type="text" value="" name="Vinculo" class="required Vinculo" id="" placeholder="Vinculo con el  jefe del Hogar ?" list="Vinculo" 
				  style="width: 237px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Cual es su parentesco con el jefe del hogar!"/>
				<datalist id="Vinculo">
				  <option value="Esposo(a)">
				  <option value="Compañero(a)">
				<option value="Hijo(a)">
				<option value="tio(a)">	
				<option value="Sobrino(a)">
				</datalist> 
				</div>
				
				<!-- fecha de nacimiento -->
				
			
			
			<div class="mc-field-group" style="margin: 10px 0 0 0;">
			  <input type="text" value="" name="Direccion" class="required direccion" id="id_direccion" placeholder="Direccion"
			  style="width: 237px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Digite Direccion actual de residencia!"//>
			
			
			<class="mc-field-group" style="margin: 10px 0 0 0;">
			  <input type="text" value="" name="Barrio" class="required textInput rounded" id="Barrio" placeholder="Barrio"
			  style="width: 237px; margin-right: 3px; float: left; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;" />
			
			
			
			<class="mc-field-group" style="margin: 10px 0 0 0;">
              <input type="text" value="" name="Telefono" class="required telefono" id="id_telefono" placeholder="Numero de Telefono"
			  style="width: 237px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;" title="Por favor ingresa un numero de telefono!"/>
			</div>
				
				
				<div class="hr" style="width: 99%; position: relative; left: 10px;"></div>
				
				<strong>
					Salud<br></br>
					</strong>
					
					
				<div class="mc-field-group" style="margin: 10px 0 0 0;">
			    <input type="text" value="" name="SISBEN" class="required SISBEN" id="" placeholder="SISBEN" list="SISBEN" 
				  style="width: 237px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;" required title="SISBEN!"/>
				<datalist id="SISBEN">
				  <option value="Si">
				  <option value="No"> 
				</datalist> 
				
				
				<class="mc-field-group" style="margin: 10px 0 0 0;">
			    <input type="text" value="" name="Afilidado" class="required Afilidado" id="" placeholder="Está Afiliado a Salud?" list="Afilidado" 
				  style="width: 237px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;" title="Esta afiliado a Salud!"/>
				<datalist id="Afilidado">
				  <option value="Si">
				  <option value="No"> 
				</datalist> 
				
				
				
				<class="mc-field-group" style="margin: 10px 0 0 0;">
			    <input type="text" value="" name="Regimen" class="required Regimen" id="" placeholder="Regimen de salud?" list="Salud" 
				  style="width: 237px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Subsidiado por el gobierno O contribuido por la persona.!"/>
				<datalist id="Salud">
				  <option value="Contributivo">
				  <option value="Subsidiado"> 
				</datalist> 
				</div>
				
				<div class="mc-field-group" style="margin: 10px 0 0 0;">
			    <input type="text" value="" name="Discapacidad" class="required Discapacidad" id="" placeholder="Discapacidad" list="Discapacidad" 
				  style="width: 237px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;" title="Posee usted algun tipo de Discapacidad!"/>
				<datalist id="Discapacidad">
				  <option value="Motora">
				  <option value="Congnitiva">
				   <option value="Auditiva">	
					<option value="Visual">
				</datalist> 
				
				
				<class="mc-field-group" style="margin: 10px 0 0 0;">
			    <input type="text" value="" name="OrigenDis" class="required OrigenDis" id="" placeholder="Orígen de la discapacidad" list="OrigenDis" 
				  style="width: 237px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;" title="Cuando ocurrio la Incapacidad!"/>
				<datalist id="OrigenDis">
					<option value="Antes   del Hecho Victimizante">
					<option value="Durante del Hecho Victimizante">
				    <option value="Despues del Hecho Victimizante">	
					
				</datalist> 
				</div>
				
				
				<div class="hr" style="width: 99%; position: relative; left: 10px;"></div>
				
				<strong>
					Educación <br></br>
					</strong>
					
					
				<div class="mc-field-group" style="margin: 10px 0 0 0;">
			    <input type="text" value="" name="Estudio" class="required Estudio" id="" placeholder="Estudia Actualmente?" list="Estudio" 
				  style="width: 200px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;" title="Estudia actualmente?!"/>
				<datalist id="Estudio">
				<option value="Si"> 
				  <option value="No"> 
				</datalist> 
				
				
				<class="mc-field-group" style="margin: 10px 0 0 0;">
			    <input type="text" value="" name="nivelEstudio" class="required nivelEstudio" id="" placeholder="Nivel de Estudios" list="nivelEstudio" 
				  style="width: 200px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;" title="Que nivel alcanzó!"/>
				<datalist id="nivelEstudio">
					<option value="Ninguno"> 
					<option value="Preescolar">
					<option value="Primaria">
					<option value="Primaria incompleta">
					<option value="Secundaria">
					<option value="Secundaria incompleta">
					<option value="Técnico">
					<option value="Técnico inconpleto">
					<option value="Tecnológico">
					<option value="Tecnológico inconpleto">
					<option value="Universitario">
					<option value="Universitario inconpleto">	
					<option value="Posgrado">	
				</datalist> 
				
				
				
				<class="mc-field-group" style="margin: 10px 0 0 0;">
			    <input type="text" value="" name="Leer" class="required Leer" id="" placeholder="Sabe Leer?" list="Leer" 
				  style="width: 200px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Sabe leer!"/>
				<datalist id="Leer">
				<option value="Si"> 
				  <option value="No"> 
				</datalist> 
				
				
				
				<class="mc-field-group" style="margin: 10px 0 0 0;">
			    <input type="text" value="" name="Escribir" class="required Escribir" id="" placeholder="Sabe Escribir?" list="Escribir" 
				  style="width: 200px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;" title="Sabe escribir?!"/>
				<datalist id="Escribir">
				<option value="Si"> 
				  <option value="No"> 
				</datalist> 
				</div>
				
				
				<div class="mc-field-group" style="margin: 10px 0 0 0;">
			    <input type="text" value="" name="Capacitacion" class="required Capacitacion" id="" placeholder="Ha recibido Cursos de Capacitación?" list="Capacitacion" 
				  style="width: 250px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;" title="Ha sido capacitado por algun ente gubernamental?"/>
				<datalist id="Capacitacion">
				<option value="Si"> 
				  <option value="No"> 
				</datalist> 
				
				
				
				<class="mc-field-group" style="margin: 10px 0 0 0;">
			    <input type="text" value="" name="Area" class="required Area" id="" placeholder="En que Área?" list="Area" 
				  style="width: 200px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;" title="en que Área fue capacitado?"/>
				<datalist id="Area">
				<option value="Agricultura"> 
				  <option value="Construcción">
					<option value="Manofactura">
					<option value="Minería">
					<option value="Transporte">
					<option value="Servicios">
					<option value="Ventas">
					<option value="Turismo"> 
					<option value="Ganadería">
					<option value="Otros"> 										
				  
				</datalist> 
				
				
				<class="mc-field-group" style="margin: 10px 0 0 0;">
			    <input type="text" value="" name="EntidadC" class="EntidadC" id="" placeholder="Que entidad lo Capacitó?" list="EntidadC" 
				  style="width: 237px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;" title="Que entidad lo capacitó?"/>
				<datalist id="EntidadC">
				<option value="SENA"> 
				  <option value="ONG">
					<option value="Cámara de Comercio">
					<option value="Municipio">
					<option value="Departamento">
					<option value="Otra">
				</datalist> 
				</div>
				
				
				<div class="hr" style="width: 99%; position: relative; left: 10px;"></div>
				
				<strong>
					Información Laboral <br></br>
					</strong>
				
				
				<div class="mc-field-group" style="margin: 10px 0 0 0;">
			    <input type="text" value="" name="trabajo" class="required trabajo" id="" placeholder="Labora Actualmente?" list="trabajo" 
				  style="width: 200px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="trabaja Actualmente?"/>
				<datalist id="trabajo">
				<option value="Si"> 
				  <option value="No"> 
				</datalist> 
				
				
				
				<class="mc-field-group" style="margin: 10px 0 0 0;">
			    <input type="text" value="" name="AreaTrabajo" class="required AreaTrabajo" id="" placeholder="En que Área?" list="AreaTrabajo" 
				  style="width: 200px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;" title="Area de trabajo"/>
				<datalist id="AreaTrabajo">
				<option value="Agricultura"> 
				  <option value="Construcción">
					<option value="Manofactura">
					<option value="Minería">
					<option value="Transporte">
					<option value="Servicios">
					<option value="Ventas">
					<option value="Turismo"> 
					<option value="Ganadería">
					<option value="Otros"> 										
				  
				</datalist> 
				
				
				
				<class="mc-field-group" style="margin: 10px 0 0 0;">
			    <input type="text" value="" name="TipoTrabajo" class="required TipoTrabajo" id="" placeholder="Tipo de Vinculación Laboral" list="TipoTrabajo" 
				  style="width: 237px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Que tipo de contrato tiene ?"/>
				<datalist id="TipoTrabajo">
				<option value="Contrato indefinido"> 
				  <option value="Contrato con termino definido">
					<option value="Trabajo Informal">
					<option value="Contrato de Prestación de servicios">	
				  
				</datalist> 
				</div>
				
				
				<div class="hr" style="width: 99%; position: relative; left: 10px;"></div>
				
				<strong>
					Grupo Étnico <br></br>
					</strong>
				
				<div class="mc-field-group" style="margin: 10px 0 0 0;">
			    <input type="text" value="" name="grupoetnico" class="required grupoetnico" id="" placeholder="Grupo Etnico" list="grupoetnico" 
				  style="width: 237px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;" title="Pertenece algun Grupo Etnico?"/>
				<datalist id="grupoetnico">
				<option value="Afrocolombiano"> 
				  <option value="Indígena">
					<option value="Raizal(San Andrés)">
					<option value="Gitano (ROM)">

						
				  
				</datalist> 
				</div>
				
				
				
				<div class="hr" style="width: 99%; position: relative; left: 10px;"></div>
				
			<div class="mc-field-group" style="margin: 10px 0 0 0;">
					
					<strong>
					HECHOS VICTIMIZANTES<br></br>
					</strong>
					
				<input type="radio" name=myradio1 value="1"> Homicidio----------------------------------------
				 <input type="text" value="" name="" class="required Sexo" id="Sexo" placeholder="Año del hecho" list="año" 
				  style="width: 120px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;" title="Año en que Ocurrio el hecho Victimizante!"/>
				<datalist id="año">
				<option value="No Sabe">
					<option value="2014">
				  <option value="2013"> 
				  <option value="2012">
				  <option value="2011">
				  <option value="2010">
				  <option value="2009">
				  <option value="2008">
				  <option value="2006">
				  <option value="2005">
				  <option value="2004">
				  <option value="2003">
				  <option value="2002">
				  <option value="2001">
				  <option value="2000">
				  <option value="1999">
				  <option value="1998">
				  <option value="1997">
				  <option value="1996">
				  <option value="1995">
				  <option value="1994">
				  <option value="1993">
				  <option value="1992">
				  <option value="1991">
				  <option value="1990">
				  <option value="1989">
				  <option value="1988">
				  <option value="1987">
				  <option value="1986">
				  <option value="1985">  				  
				</datalist> 
				<input type="text" value="" name="declaro" class="required declaro" id="sexo" placeholder="¿Declaró?" list="declaro" 
				  style="width: 88px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="declaro">
				<option value="Si">
				<option value="No">
				</datalist> 
				<input type="text" value="" name="lugar" class="required lugar" id="lugar" placeholder="¿Donde Declaró?" list="Lugardeclaro" 
				  style="width: 135px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;" title="Por favor selecciona un Sexo!"/>
				<datalist id="Lugardeclaro">
				<option value="Personería">
				<option value="Defensoría">
				<option value="Procuraduría">
				<option value="Fiscalia">
				<option value="UAV">
				</datalist> 
				<input type="text" value="" name="" class="required Sexo" id="Sexo" placeholder="Estado" list="estado" 
				  style="width: 88px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="estado">
				<option value="incluido">
					<option value="Excluido">
					
					<input type="text" value="" name="Fiscalia" class="required Fiscalia" id="Fiscalia" placeholder="¿Fiscalia?" list="Fiscalia" 
				  style="width: 88px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="Fiscalia">
				<option value="Si">
				<option value="No">
				</datalist> 				
					</div>
					
				<div class="mc-field-group" style="margin: 10px 0 0 0;">
				<input type="radio" name=myradio2 value="2"> Desaparición Forzada------------------------
				 <input type="text" value="" name="" class="required Sexo" id="Sexo" placeholder="Año del hecho" list="año" 
				  style="width: 120px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;" title="Por favor selecciona un Sexo!"/>
				<datalist id="año">
				<option value="No Sabe">
					<option value="2014">
				  <option value="2013"> 
				  <option value="2012">
				  <option value="2011">
				  <option value="2010">
				  <option value="2009">
				  <option value="2008">
				  <option value="2006">
				  <option value="2005">
				  <option value="2004">
				  <option value="2003">
				  <option value="2002">
				  <option value="2001">
				  <option value="2000">
				  <option value="1999">
				  <option value="1998">
				  <option value="1997">
				  <option value="1996">
				  <option value="1995">
				  <option value="1994">
				  <option value="1993">
				  <option value="1992">
				  <option value="1991">
				  <option value="1990">
				  <option value="1989">
				  <option value="1988">
				  <option value="1987">
				  <option value="1986">
				  <option value="1985">  				  
				</datalist> 
				<input type="text" value="" name="declaro" class="required declaro" id="sexo" placeholder="¿Declaró?" list="declaro" 
				  style="width: 88px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="declaro">
				<option value="Si">
				<option value="No">
				</datalist> 
				<input type="text" value="" name="lugar" class="required lugar" id="lugar" placeholder="¿Donde Declaró?" list="Lugardeclaro" 
				  style="width: 135px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="Lugardeclaro">
				<option value="Personería">
				<option value="Defensoría">
				<option value="Procuraduría">
				<option value="Fiscalia">
				<option value="UAV">
				</datalist> 
				<input type="text" value="" name="" class="required Sexo" id="Sexo" placeholder="Estado" list="estado" 
				  style="width: 88px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="estado">
				<option value="incluido">
					<option value="Excluido">
					
					<input type="text" value="" name="Fiscalia" class="required Fiscalia" id="Fiscalia" placeholder="¿Fiscalia?" list="Fiscalia" 
				  style="width: 88px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="Fiscalia">
				<option value="Si">
				<option value="No">
				</datalist> 
				</div>
				
				<div class="mc-field-group" style="margin: 10px 0 0 0;">
				<input type="radio" name=myradio3 value="4"> Secuestro----------------------------------------
				 <input type="text" value="" name="" class="required Sexo" id="Sexo" placeholder="Año del hecho" list="año" 
				  style="width: 120px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;" title="Por favor selecciona un Sexo!"/>
				<datalist id="año">
				<option value="No Sabe">
					<option value="2014">
				  <option value="2013"> 
				  <option value="2012">
				  <option value="2011">
				  <option value="2010">
				  <option value="2009">
				  <option value="2008">
				  <option value="2006">
				  <option value="2005">
				  <option value="2004">
				  <option value="2003">
				  <option value="2002">
				  <option value="2001">
				  <option value="2000">
				  <option value="1999">
				  <option value="1998">
				  <option value="1997">
				  <option value="1996">
				  <option value="1995">
				  <option value="1994">
				  <option value="1993">
				  <option value="1992">
				  <option value="1991">
				  <option value="1990">
				  <option value="1989">
				  <option value="1988">
				  <option value="1987">
				  <option value="1986">
				  <option value="1985">  				  
				</datalist> 
				<input type="text" value="" name="declaro" class="required declaro" id="sexo" placeholder="¿Declaró?" list="declaro" 
				  style="width: 88px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="declaro">
				<option value="Si">
				<option value="No">
				</datalist> 
				<input type="text" value="" name="lugar" class="required lugar" id="lugar" placeholder="¿Donde Declaró?" list="Lugardeclaro" 
				  style="width: 135px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="Lugardeclaro">
				<option value="Personería">
				<option value="Defensoría">
				<option value="Procuraduría">
				<option value="Fiscalia">
				<option value="UAV">
				</datalist> 
				<input type="text" value="" name="" class="required Sexo" id="Sexo" placeholder="Estado" list="estado" 
				  style="width: 88px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="estado">
				<option value="incluido">
					<option value="Excluido">
					
					<input type="text" value="" name="Fiscalia" class="required Fiscalia" id="Fiscalia" placeholder="¿Fiscalia?" list="Fiscalia" 
				  style="width: 88px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;" title="Por favor selecciona un Sexo!"/>
				<datalist id="Fiscalia">
				<option value="Si">
				<option value="No">
				</datalist> 				
				</div>
				
				<div class="mc-field-group" style="margin: 10px 0 0 0;">
				<input type="radio" name=myradio1 value="5"> Lesiones personales o Psicologicas------
				 <input type="text" value="" name="" class="required Sexo" id="Sexo" placeholder="Año del hecho" list="año" 
				  style="width: 120px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;" title="Por favor selecciona un Sexo!"/>
				<datalist id="año">
				<option value="No Sabe">
					<option value="2014">
				  <option value="2013"> 
				  <option value="2012">
				  <option value="2011">
				  <option value="2010">
				  <option value="2009">
				  <option value="2008">
				  <option value="2006">
				  <option value="2005">
				  <option value="2004">
				  <option value="2003">
				  <option value="2002">
				  <option value="2001">
				  <option value="2000">
				  <option value="1999">
				  <option value="1998">
				  <option value="1997">
				  <option value="1996">
				  <option value="1995">
				  <option value="1994">
				  <option value="1993">
				  <option value="1992">
				  <option value="1991">
				  <option value="1990">
				  <option value="1989">
				  <option value="1988">
				  <option value="1987">
				  <option value="1986">
				  <option value="1985">  				  
				</datalist> 
				<input type="text" value="" name="declaro" class="required declaro" id="sexo" placeholder="¿Declaró?" list="declaro" 
				  style="width: 88px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="declaro">
				<option value="Si">
				<option value="No">
				</datalist> 
				<input type="text" value="" name="lugar" class="required lugar" id="lugar" placeholder="¿Donde Declaró?" list="Lugardeclaro" 
				  style="width: 135px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="Lugardeclaro">
				<option value="Personería">
				<option value="Defensoría">
				<option value="Procuraduría">
				<option value="Fiscalia">
				<option value="UAV">
				</datalist> 
				<input type="text" value="" name="" class="required Sexo" id="Sexo" placeholder="Estado" list="estado" 
				  style="width: 88px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="estado">
				<option value="incluido">
					<option value="Excluido">
					
					<input type="text" value="" name="Fiscalia" class="required Fiscalia" id="Fiscalia" placeholder="¿Fiscalia?" list="Fiscalia" 
				  style="width: 88px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="Fiscalia">
				<option value="Si">
				<option value="No">
				</datalist> 
				</div>
				
				<div class="mc-field-group" style="margin: 10px 0 0 0;">					
				<input type="radio" name=myradio2 value="6"> Tortura--------------------------------------------
				 <input type="text" value="" name="" class="required Sexo" id="Sexo" placeholder="Año del hecho" list="año" 
				  style="width: 120px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="año">
				<option value="No Sabe">
					<option value="2014">
				  <option value="2013"> 
				  <option value="2012">
				  <option value="2011">
				  <option value="2010">
				  <option value="2009">
				  <option value="2008">
				  <option value="2006">
				  <option value="2005">
				  <option value="2004">
				  <option value="2003">
				  <option value="2002">
				  <option value="2001">
				  <option value="2000">
				  <option value="1999">
				  <option value="1998">
				  <option value="1997">
				  <option value="1996">
				  <option value="1995">
				  <option value="1994">
				  <option value="1993">
				  <option value="1992">
				  <option value="1991">
				  <option value="1990">
				  <option value="1989">
				  <option value="1988">
				  <option value="1987">
				  <option value="1986">
				  <option value="1985">  				  
				</datalist> 
				<input type="text" value="" name="declaro" class="required declaro" id="sexo" placeholder="¿Declaró?" list="declaro" 
				  style="width: 88px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="declaro">
				<option value="Si">
				<option value="No">
				</datalist> 
				<input type="text" value="" name="lugar" class="required lugar" id="lugar" placeholder="¿Donde Declaró?" list="Lugardeclaro" 
				  style="width: 135px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="Lugardeclaro">
				<option value="Personería">
				<option value="Defensoría">
				<option value="Procuraduría">
				<option value="Fiscalia">
				<option value="UAV">
				</datalist> 
				<input type="text" value="" name="" class="required Sexo" id="Sexo" placeholder="Estado" list="estado" 
				  style="width: 88px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="estado">
				<option value="incluido">
					<option value="Excluido">
					
					<input type="text" value="" name="Fiscalia" class="required Fiscalia" id="Fiscalia" placeholder="¿Fiscalia?" list="Fiscalia" 
				  style="width: 88px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="Fiscalia">
				<option value="Si">
				<option value="No">
				</datalist> 
				</div>
					
				<div class="mc-field-group" style="margin: 10px 0 0 0;">	
				<input type="radio" name=myradio3 value="7"> Delitos contra la libertad <div class="mc-field-group" style="margin: 10px 1 0 0;">e integridad Sexual.-------------------------------
				 <input type="text" value="" name="" class="required Sexo" id="Sexo" placeholder="Año del hecho" list="año" 
				  style="width: 120px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="año">
				<option value="No Sabe">
					<option value="2014">
				  <option value="2013"> 
				  <option value="2012">
				  <option value="2011">
				  <option value="2010">
				  <option value="2009">
				  <option value="2008">
				  <option value="2006">
				  <option value="2005">
				  <option value="2004">
				  <option value="2003">
				  <option value="2002">
				  <option value="2001">
				  <option value="2000">
				  <option value="1999">
				  <option value="1998">
				  <option value="1997">
				  <option value="1996">
				  <option value="1995">
				  <option value="1994">
				  <option value="1993">
				  <option value="1992">
				  <option value="1991">
				  <option value="1990">
				  <option value="1989">
				  <option value="1988">
				  <option value="1987">
				  <option value="1986">
				  <option value="1985">  				  
				</datalist> 
				<input type="text" value="" name="declaro" class="required declaro" id="sexo" placeholder="¿Declaró?" list="declaro" 
				  style="width: 88px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="declaro">
				<option value="Si">
				<option value="No">
				</datalist> 
				<input type="text" value="" name="lugar" class="required lugar" id="lugar" placeholder="¿Donde Declaró?" list="Lugardeclaro" 
				  style="width: 135px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="Lugardeclaro">
				<option value="Personería">
				<option value="Defensoría">
				<option value="Procuraduría">
				<option value="Fiscalia">
				<option value="UAV">
				</datalist> 
				<input type="text" value="" name="" class="required Sexo" id="Sexo" placeholder="Estado" list="estado" 
				  style="width: 88px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;" title="Por favor selecciona un Sexo!"/>
				<datalist id="estado">
				<option value="incluido">
					<option value="Excluido">
					
					<input type="text" value="" name="Fiscalia" class="required Fiscalia" id="Fiscalia" placeholder="¿Fiscalia?" list="Fiscalia" 
				  style="width: 88px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="Fiscalia">
				<option value="Si">
				<option value="No">
				</datalist> 				
				</div>
				
				<div class="mc-field-group" style="margin: 10px 0 0 0;">
				<input type="radio" name=myradio1 value="8"> Reclutamieento ilegal de menores.--------
				 <input type="text" value="" name="" class="required Sexo" id="Sexo" placeholder="Año del hecho" list="año" 
				  style="width: 120px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="año">
				<option value="No Sabe">
					<option value="2014">
				  <option value="2013"> 
				  <option value="2012">
				  <option value="2011">
				  <option value="2010">
				  <option value="2009">
				  <option value="2008">
				  <option value="2006">
				  <option value="2005">
				  <option value="2004">
				  <option value="2003">
				  <option value="2002">
				  <option value="2001">
				  <option value="2000">
				  <option value="1999">
				  <option value="1998">
				  <option value="1997">
				  <option value="1996">
				  <option value="1995">
				  <option value="1994">
				  <option value="1993">
				  <option value="1992">
				  <option value="1991">
				  <option value="1990">
				  <option value="1989">
				  <option value="1988">
				  <option value="1987">
				  <option value="1986">
				  <option value="1985">  				  
				</datalist> 
				<input type="text" value="" name="declaro" class="required declaro" id="sexo" placeholder="¿Declaró?" list="declaro" 
				  style="width: 88px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="declaro">
				<option value="Si">
				<option value="No">
				</datalist> 
				<input type="text" value="" name="lugar" class="required lugar" id="lugar" placeholder="¿Donde Declaró?" list="Lugardeclaro" 
				  style="width: 135px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="Lugardeclaro">
				<option value="Personería">
				<option value="Defensoría">
				<option value="Procuraduría">
				<option value="Fiscalia">
				<option value="UAV">
				</datalist> 
				<input type="text" value="" name="" class="required Sexo" id="Sexo" placeholder="Estado" list="estado" 
				  style="width: 88px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="estado">
				<option value="incluido">
					<option value="Excluido">
					
					<input type="text" value="" name="Fiscalia" class="required Fiscalia" id="Fiscalia" placeholder="¿Fiscalia?" list="Fiscalia" 
				  style="width: 88px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="Fiscalia">
				<option value="Si">
				<option value="No">
				</datalist> 
				</div>	
					
					<div class="mc-field-group" style="margin: 10px 0 0 0;">
					<input type="radio" name=myradio2 value="9"> Dezplazamiento forzado.---------------------
					<input type="text" value="" name="" class="required Sexo" id="Sexo" placeholder="Año del hecho" list="año" 
				  style="width: 120px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;" title="Por favor selecciona un Sexo!"/>
				<datalist id="año">
				<option value="No Sabe">
					<option value="2014">
				  <option value="2013"> 
				  <option value="2012">
				  <option value="2011">
				  <option value="2010">
				  <option value="2009">
				  <option value="2008">
				  <option value="2006">
				  <option value="2005">
				  <option value="2004">
				  <option value="2003">
				  <option value="2002">
				  <option value="2001">
				  <option value="2000">
				  <option value="1999">
				  <option value="1998">
				  <option value="1997">
				  <option value="1996">
				  <option value="1995">
				  <option value="1994">
				  <option value="1993">
				  <option value="1992">
				  <option value="1991">
				  <option value="1990">
				  <option value="1989">
				  <option value="1988">
				  <option value="1987">
				  <option value="1986">
				  <option value="1985">  				  
				</datalist> 
				<input type="text" value="" name="declaro" class="required declaro" id="sexo" placeholder="¿Declaró?" list="declaro" 
				  style="width: 88px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="declaro">
				<option value="Si">
				<option value="No">
				</datalist> 
				<input type="text" value="" name="lugar" class="required lugar" id="lugar" placeholder="¿Donde Declaró?" list="Lugardeclaro" 
				  style="width: 135px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="Lugardeclaro">
				<option value="Personería">
				<option value="Defensoría">
				<option value="Procuraduría">
				<option value="Fiscalia">
				<option value="UAV">
				</datalist> 
				<input type="text" value="" name="" class="required Sexo" id="Sexo" placeholder="Estado" list="estado" 
				  style="width: 88px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="estado">
				<option value="incluido">
					<option value="Excluido">
					
					<input type="text" value="" name="Fiscalia" class="required Fiscalia" id="Fiscalia" placeholder="¿Fiscalia?" list="Fiscalia" 
				  style="width: 88px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="Fiscalia">
				<option value="Si">
				<option value="No">
				</datalist> 
				</div>
					</div>
				
					<div class="mc-field-group" style="margin: 10px 0 0 0;">					
					<input type="radio" name=myradio3 value="10">Minas antipersonales---------------------------
					<input type="text" value="" name="" class="required Sexo" id="Sexo" placeholder="Año del hecho" list="año" 
				  style="width: 120px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="año">
				<option value="No Sabe">
					<option value="2014">
				  <option value="2013"> 
				  <option value="2012">
				  <option value="2011">
				  <option value="2010">
				  <option value="2009">
				  <option value="2008">
				  <option value="2006">
				  <option value="2005">
				  <option value="2004">
				  <option value="2003">
				  <option value="2002">
				  <option value="2001">
				  <option value="2000">
				  <option value="1999">
				  <option value="1998">
				  <option value="1997">
				  <option value="1996">
				  <option value="1995">
				  <option value="1994">
				  <option value="1993">
				  <option value="1992">
				  <option value="1991">
				  <option value="1990">
				  <option value="1989">
				  <option value="1988">
				  <option value="1987">
				  <option value="1986">
				  <option value="1985">  				  
				</datalist> 
				<input type="text" value="" name="declaro" class="required declaro" id="sexo" placeholder="¿Declaró?" list="declaro" 
				  style="width: 88px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="declaro">
				<option value="Si">
				<option value="No">
				</datalist> 
				<input type="text" value="" name="lugar" class="required lugar" id="lugar" placeholder="¿Donde Declaró?" list="Lugardeclaro" 
				  style="width: 135px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="Lugardeclaro">
				<option value="Personería">
				<option value="Defensoría">
				<option value="Procuraduría">
				<option value="Fiscalia">
				<option value="UAV">
				</datalist> 
				<input type="text" value="" name="" class="required Sexo" id="Sexo" placeholder="Estado" list="estado" 
				  style="width: 88px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="estado">
				<option value="incluido">
					<option value="Excluido">
					
					<input type="text" value="" name="Fiscalia" class="required Fiscalia" id="Fiscalia" placeholder="¿Fiscalia?" list="Fiscalia" 
				  style="width: 88px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="Fiscalia">
				<option value="Si">
				<option value="No">
				</datalist> 
				</div>
				
				<div class="mc-field-group" style="margin: 10px 0 0 0;">
				<input type="radio" name=myradio1 value="8"> Abandono Forzado o despojo de tierras--
				<input type="text" value="" name="" class="required Sexo" id="Sexo" placeholder="Año del hecho" list="año" 
				  style="width: 120px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="año">
				<option value="No Sabe">
					<option value="2014">
				  <option value="2013"> 
				  <option value="2012">
				  <option value="2011">
				  <option value="2010">
				  <option value="2009">
				  <option value="2008">
				  <option value="2006">
				  <option value="2005">
				  <option value="2004">
				  <option value="2003">
				  <option value="2002">
				  <option value="2001">
				  <option value="2000">
				  <option value="1999">
				  <option value="1998">
				  <option value="1997">
				  <option value="1996">
				  <option value="1995">
				  <option value="1994">
				  <option value="1993">
				  <option value="1992">
				  <option value="1991">
				  <option value="1990">
				  <option value="1989">
				  <option value="1988">
				  <option value="1987">
				  <option value="1986">
				  <option value="1985">  				  
				</datalist> 
				<input type="text" value="" name="declaro" class="required declaro" id="sexo" placeholder="¿Declaró?" list="declaro" 
				  style="width: 88px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="declaro">
				<option value="Si">
				<option value="No">
				</datalist> 
				<input type="text" value="" name="lugar" class="required lugar" id="lugar" placeholder="¿Donde Declaró?" list="Lugardeclaro" 
				  style="width: 135px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="Lugardeclaro">
				<option value="Personería">
				<option value="Defensoría">
				<option value="Procuraduría">
				<option value="Fiscalia">
				<option value="UAV">
				</datalist> 
				<input type="text" value="" name="" class="required Sexo" id="Sexo" placeholder="Estado" list="estado" 
				  style="width: 88px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="estado">
				<option value="incluido">
					<option value="Excluido">
					
					<input type="text" value="" name="Fiscalia" class="required Fiscalia" id="Fiscalia" placeholder="¿Fiscalia?" list="Fiscalia" 
				  style="width: 88px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="Fiscalia">
				<option value="Si">
				<option value="No">
				</datalist> 
				</div>
				
				<div class="mc-field-group" style="margin: 10px 0 0 0;">
				<input type="radio" name=myradio2 value="9"> Masacre.------------------------------------------
				<input type="text" value="" name="" class="required Sexo" id="Sexo" placeholder="Año del hecho" list="año" 
				  style="width: 120px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="año">
				<option value="No Sabe">
					<option value="2014">
				  <option value="2013"> 
				  <option value="2012">
				  <option value="2011">
				  <option value="2010">
				  <option value="2009">
				  <option value="2008">
				  <option value="2006">
				  <option value="2005">
				  <option value="2004">
				  <option value="2003">
				  <option value="2002">
				  <option value="2001">
				  <option value="2000">
				  <option value="1999">
				  <option value="1998">
				  <option value="1997">
				  <option value="1996">
				  <option value="1995">
				  <option value="1994">
				  <option value="1993">
				  <option value="1992">
				  <option value="1991">
				  <option value="1990">
				  <option value="1989">
				  <option value="1988">
				  <option value="1987">
				  <option value="1986">
				  <option value="1985">  				  
				</datalist> 
				<input type="text" value="" name="declaro" class="required declaro" id="sexo" placeholder="¿Declaró?" list="declaro" 
				  style="width: 88px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="declaro">
				<option value="Si">
				<option value="No">
				</datalist> 
				<input type="text" value="" name="lugar" class="required lugar" id="lugar" placeholder="¿Donde Declaró?" list="Lugardeclaro" 
				  style="width: 135px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="Lugardeclaro">
				<option value="Personería">
				<option value="Defensoría">
				<option value="Procuraduría">
				<option value="Fiscalia">
				<option value="UAV">
				</datalist> 
				<input type="text" value="" name="" class="required Sexo" id="Sexo" placeholder="Estado" list="estado" 
				  style="width: 88px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="estado">
				<option value="incluido">
					<option value="Excluido">
					
					<input type="text" value="" name="Fiscalia" class="required Fiscalia" id="Fiscalia" placeholder="¿Fiscalia?" list="Fiscalia" 
				  style="width: 88px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="Fiscalia">
				<option value="Si">
				<option value="No">
				</datalist> 
				</div>
				
				<div class="mc-field-group" style="margin: 10px 0 0 0;">
				<input type="radio" name=myradio3 value="10">Perdida de Bienes.------------------------------	
				<input type="text" value="" name="" class="required Sexo" id="Sexo" placeholder="Año del hecho" list="año" 
				  style="width: 120px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="año">
				<option value="No Sabe">
					<option value="2014">
				  <option value="2013"> 
				  <option value="2012">
				  <option value="2011">
				  <option value="2010">
				  <option value="2009">
				  <option value="2008">
				  <option value="2006">
				  <option value="2005">
				  <option value="2004">
				  <option value="2003">
				  <option value="2002">
				  <option value="2001">
				  <option value="2000">
				  <option value="1999">
				  <option value="1998">
				  <option value="1997">
				  <option value="1996">
				  <option value="1995">
				  <option value="1994">
				  <option value="1993">
				  <option value="1992">
				  <option value="1991">
				  <option value="1990">
				  <option value="1989">
				  <option value="1988">
				  <option value="1987">
				  <option value="1986">
				  <option value="1985">  				  
				</datalist> 
				<input type="text" value="" name="declaro" class="required declaro" id="sexo" placeholder="¿Declaró?" list="declaro" 
				  style="width: 88px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="declaro">
				<option value="Si">
				<option value="No">
				</datalist> 
				<input type="text" value="" name="lugar" class="required lugar" id="lugar" placeholder="¿Donde Declaró?" list="Lugardeclaro" 
				  style="width: 135px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"
				<option value="Personería">
				<option value="Defensoría">
				<option value="Procuraduría">
				<option value="Fiscalia">
				<option value="UAV">
				</datalist> 
				<input type="text" value="" name="" class="required Sexo" id="Sexo" placeholder="Estado" list="estado" 
				  style="width: 88px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="estado">
				<option value="incluido">
					<option value="Excluido">
					
					<input type="text" value="" name="Fiscalia" class="required Fiscalia" id="Fiscalia" placeholder="¿Fiscalia?" list="Fiscalia" 
				  style="width: 88px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Por favor selecciona un Sexo!"/>
				<datalist id="Fiscalia">
				<option value="Si">
				<option value="No">
				</datalist> 
				</div>
				
			<div class="hr" style="width: 99%; position: relative; left: 10px;"></div>
			
					<strong>
					DESPLAZAMIENTO<br></br>
					</strong>
					
				<input type="text" value="" name="Fiscalia" class="required Fiscalia" id="" placeholder="Tipo de Desplazamiento" list="TipoDesplazamiento" 
				style="width: 200px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;"  title="Masivo cuando son Más de 10 personas E individual si es menor a 10 "/>
				<datalist id="TipoDesplazamiento">
				<option value="Masivo">
				<option value="Individual">
				</datalist> 
				
				<div class="hr" style="width: 99%; position: relative; left: 10px;"></div>
				
					<strong>
					Causas a las que atribuye el Desplazamiento<br></br>
					</strong>
					
					<div class="mc-field-group" style="margin: 10px 0 0 0;">					
					<input type="radio" name=myradio3 value="10">Confrontación Armada <br></br>
					<input type="radio" name=myradio3 value="10">Amenaza Directa<br></br>
					<input type="radio" name=myradio3 value="10">Amenaza indirecta<br></br>
					<input type="radio" name=myradio3 value="10">Reclutamiento de menores<br></br>
					</div>
									
					<div input type="radio" name=myradio3 value="10">Campos Minados<br></br>
					<input type="radio" name=myradio3 value="10">Asesinato de Familiar<br></br>
					<input type="radio" name=myradio3 value="10">Violencia Generalizada.<br></br>
					<input type="radio" name=myradio3 value="10">Otra<br></br>
					</div>
					</div>
				<div class="hr" style="width: 99%; position: relative; left: 10px;"></div>

				
			<div id="mce-responses" class="clear">
			  <div class="response" id="mce-error-response" style="display:none"></div>
			  <div class="response" id="mce-success-response" style="display:none"></div>
			</div>
			<button type="submit" name="guardar" value="guardar" class="button btn" id="mc-embedded-guardar">
				<span style="margin-top: -1px;">Guardar</span>
			</button>
			
			

		</form>
      </div>
    <%- include layouts/footer.ejs %>
