<%- include layouts/header.ejs %>
    <div class="full-page">
      <h1 class="headline">
        <strong>
          <%=page_title%>
        </strong>
      </h1>
      <div class="">
    	<form method="post" action="/caracterizacion">		
			
			<div class="mc-field-group" style="margin: 10px 0 0 0;">
			    <input type="text" value="" name="tipodocumento" class="required tipodocumento" id="id_tipodocumento" placeholder="Tipo de Documento" list="tipodedocumentos" 
				  style="width: 237px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;" required title="Por favor ingresa un tipo de documento!"/>
				<datalist id="tipodedocumentos">
				  <option value="Cedula de Ciudadania">
				  <option value="Registro Civil">
				  <option value="Tarjeta de Identidad"> 
				</datalist> 
			  <input type="text" value="" name="numerodocumento" class="required numerodocumento" id="id_numerodocumento" placeholder="Numero de Documento"
			  style="width: 237px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;" required title="Por favor ingresa un numero de documento!"/>
			</div>
			<div class="mc-field-group">
			  <input type="text" value="" name="primernombre" class="required textInput rounded" id="mce-FNAME" placeholder="Primer Nombre"
			  style="width: 111px; margin-right: 3px; float: left; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;" />
			</div>
			<div class="mc-field-group">
			  <input type="text" value="" name="primerapellido" class="required textInput rounded" id="mce-LNAME" placeholder="Primer Apellido"
			  style="width: 111px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;" />
			</div>
			
			<div class="mc-field-group" style="margin: 10px 0 0 0;">
			  <input type="text" value="" name="direccion" class="required direccion" id="id_direccion" placeholder="Direccion"
			  style="width: 237px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;" required title="Por favor ingrese la direccion!"//>
			</div>
			
			<div class="mc-field-group" style="margin: 10px 0 0 0;">
              <input type="text" value="" name="telefono" class="required telefono" id="id_telefono" placeholder="Numero de Telefono"
			  style="width: 237px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;" title="Por favor ingresa un numero de telefono!"/>
			</div>

			  
			<div id="mce-responses" class="clear">
			  <div class="response" id="mce-error-response" style="display:none"></div>
			  <div class="response" id="mce-success-response" style="display:none"></div>
			</div>
			<button type="submit" name="guardar" value="guardar" class="button btn" id="mc-embedded-guardar">
				<span style="margin-top: -1px;">Guardar</span>
			</button>

		</form>
      </div>
    </div>
<%- include layouts/footer.ejs %>
