<%- include layouts/header.ejs %>
    

		<div class="full-page">
							<h1 class="headline"><strong><%=page_title%></strong></h1>
							     <center>
								<div class = "center" id="cp_widget_2bee771b-4d20-446a-a068-f5ac94712efa">...</div><script type="text/javascript">
										var cpo = []; cpo["_object"] ="cp_widget_2bee771b-4d20-446a-a068-f5ac94712efa"; cpo["_fid"] = "AkBAT-bYORw3";
										var _cpmp = _cpmp || []; _cpmp.push(cpo);
										(function() { var cp = document.createElement("script"); cp.type = "text/javascript";
										cp.async = true; cp.src = "//www.cincopa.com/media-platform/runtime/libasync.js";
										var c = document.getElementsByTagName("script")[0];
										c.parentNode.insertBefore(cp, c); })(); </script><noscript>Powered by Cincopa <a href='http://www.cincopa.com/video-hosting'>Video Streaming Hosting</a> solution.<span>SICAPOV</span><span>Sistema de caracterización de poblacion Víctima del departamento del Magdalena.</span><span>cameramake</span><span> NIKON CORPORATION</span><span>height</span><span> 1601</span><span>flash</span><span> 31</span><span>camerasoftware</span><span> Adobe Photoshop CS4 </span><span>originaldate</span><span> 3/27/2012 8:13:13 PM</span><span>width</span><span> 2392</span><span>orientation</span><span> 1</span><span>cameramodel</span><span> NIKON D80</span><span>height</span><span> 127</span><span>width</span><span> 500</span><span>orientation</span><span> 1</span><span>camerasoftware</span><span> Adobe Photoshop CS4 </span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>height</span><span> 469</span><span>width</span><span> 700</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span></noscript>
							
							
							<div class="clear"></div>
							</center>
							
							
							<p><font face="arial" color="1799AD" >
							
							<font face="arial" color="173C41">
							<center>	
							<b>Misión</b><br></br>
							</center>
							</font>
La Oficina de Atención a Víctimas tiene como propósito, en el marco de los principios constitucionales de subsidiaridad, concurrencia y complementariedad,  diseñar, implementar, hacer seguimiento y evaluación a las políticas, planes, programas y proyectos departamentales y municipales, que garanticen la prevención, la asistencia, la atención y la reparacón integral de las víctimas, teniendo en cuenta los diferentes hechos victimizantes, la participación de las víctimas, el enfoque diferencial y el goce efectivo de los derechos de la población víctima
 
 
							<font face="arial" color="173C41">
							<center>
							<b>Visión</b><br></br>
							</center>
							</font>
 
 
Ser una oficina modelo a nivel territorial en la  implementación de procesos de asistencia, atención efectiva,  reparación integral y transformadora de las víctimas del Departamento, con una perspectiva de enfoque diferecial y goce efectivo de derechos, que aporten a la construcción de una cultura de paz duradera.
 
							<font face="arial" color="173C41">
							<center>	
							<b>Funciones</b><br></br>
							</center>
							</font>

 
           
1) Apoyar e intermediar la coordinación entre las entidades nacionales y territoriales, en materia de prevención, asistencia, atención y reparación integral de las víctimas.<br></br>
 
2) Diseñar e implementar el plan de acción departamental, teniendo en cuenta el plan nacional de atención y repación integral a las víctimas del conflicto armado y los planes de acción de los municipios de su jurisdicción.<br></br>
 
3) Gestionar mecanismos de asociación, cofinanciación y convenios con el fin de perfeccionar la asistencia y la  reparación integral a  las víctimas.<br></br>
 
4) Propiciar el fortalecimiento institucional de la administración departamental y municipal en la atención integral a víctimas.<br></br>
 
5) Ejercer la Secretaría Técnica del Comité Departamental de Justicia Transicional, apoyar el  funcionamiento  de los comités de justicia transicional municipal.<br></br>
 
6) Realizar investigaciones, análisis de contexto, diagnósticos y caracterizaciones con el propósito de adecuar la política pública al territorio y a las necesidades de la  población objetivo.<br></br>
 
7) Las demás que el marco de la naturaleza del Área le sean asignadas por la autoridad competente.</font>
			
							</p>
							
							
						</div>
				 
						
    


<%- include layouts/footer.ejs %>
        
