<%- include layouts/header.ejs %>
	<div class="full-page">
		<!-- display the error message here -->
		<% if (message.length > 0) { %>
			<div class="alert alert-danger"><%= message %></div>
		<% } %>

		<!-- submit to /login -->
		<form action="/login" method="post">
			<input type="text" id="username" name="username">
			<input type="password" id="password" name="password">
			<button type="submit">Submit</button>
		</form>
	</div>
<%- include layouts/footer.ejs %>
