<%- include layouts/header.ejs %>
    <div class="full-page">
      <h1 class="headline">
        <strong>
          <%=page_title%>
        </strong>
      </h1>
      <div class="">
    	
		
		
		
		
		
		</form>
      </div>
    </div>
<%- include layouts/footer.ejs %>
