<%- include layouts/header.ejs %>
    <div class="full-page">
      <h1 class="headline">
        <strong>
          <%=page_title%>
        </strong>
      </h1>
      <div class="noticia" align="justify">
    	
		<!-- por cada noticia un div...... poner un h ... la noticia dentro de un parrafo .... quitar los brbr-->
		<!-- creo una tabla noticias que tenga titulo y texto tipo varchar -->
		<p><font face="arial" color="1799AD" >
		
		<div>
		<h2>Departamento del Magdalena presentó en Riohacha acciones contra la sequía</h2>
		<p>El secretario del Interior del Magdalena, Eduardo Arteta Coronell, y el responsable de la oficina Asesora de Gestión del Riesgo de Desastres, Luis Barraza Escamilla, asistieron en Riohacha, a la sesión de la Comisión de Ordenamiento Territorial del Senado de la República, cuyo presidente es el senador Antonio Correa.</p>
		<a href="http://www.elinformador.com.co/index.php/el-magdalena/en-la-region/84523-departamento-del-magdalena-presento-en-riohacha-acciones-contra-la-sequia"> Ver más </a>
		</div>

		
		<div>
		<h2>Así se vivió la Semana por la Paz en diferentes colegios de Santa Marta</h2>
		<p>La Secretaría del Interior de la Gobernación del Magdalena participó en la Semana por la Paz, actividad organizada por la Conferencia Episcopal, Pastoral Social y Redepaz. A través  del programa de víctimas se extendió la invitación a diferentes instituciones educativas y entidades del Sistema Nacional de Atención y Reparación a Víctimas, para celebrar la actividad y construir paz desde todo ambiente cotidiano. </p>
		<a href="http://secinteriormagdalena.wix.com/secinteriormagdalena"> Ver más </a> 
		</div>
		
		<div>
		<h2>Gobernación del Magdalena se vincula a la Semana por la Paz</h2>
		<p>La gobernación del departamento del Magdalena, a través de La Secretaría del Interior, se une a Pastoral Social, Conferencia Episcopal y REDEPAZ para celebrar la semana por la paz, desarrollando  actividades de divulgación que buscan originar procesos sinceros y espontáneos al interior de comunidades, sensibilizando y visibilizando problemáticas y posibles soluciones y destacando los roles que pueden jugar los ciudadanos para lograr convertirse en pacificadores y constructores de una paz verdadera.</p>
		<a href="http://secinteriormagdalena.wix.com/secinteriormagdalena"> Ver más </a> 
		</div>
		
		<div>
		<h2>Gobernación del Magdalena se vinculó a Semana por la Paz</h2>
		<p>La Gobernación del Magdalena a través de la Secretaría del Interior, participó en la Semana por la Paz, iniciativa liderada anualmente por la Conferencia Episcopal, Pastoral Social y Redepaz y que se desarrolla este año del 7 al 14 de septiembre, bajo el eslogan “Ganemos con la Paz, Reconciliémonos”.</p>
		<a href="http://deracamandaca.com/?p=44369"> Ver más </a> 
		</div>
		
		<div>
		<h2>Justicia Transicional hizo seguimiento a los retornos,  reubicaciones y restitución de tierras en el Magdalena</h2>
		<p>En el Palacio Tayrona se realizó el Comité departamental ampliado de Justicia Transicional, evento instalado por el gobernador Luis Miguel Cotes Habeych, en el cual se hizo seguimiento a los procesos de retorno, reubicación y restitución de tierras en el Magdalena, en el marco de la implementación de la Ley de Víctimas.</p>
		<a href="http://www.hoydiariodelmagdalena.com.co/noticias/ciudad_Justicia_transicional_hizo_seguimiento_a_los_retornos_reubicaciones_y_restitucion_de_tierras_en_el_Magdalena.html</p>"> Ver más </a> 
		</div>
		
		<div>
		<h2>Crearán Comité Carcelario del Departamento</h2>
		<p>Con el fin de darle cumplimiento a la ley 1509, desde la administración departamental se creará mediante decreto el Comité Carcelario del Departamento del Magdalena, órgano que se encargará de monitorear y asumir acciones en torno a la problemática que afecta a los centros penitenciarios del departamento.</p>
		<a href="http://www.elinformador.com.co/index.php/el-magdalena/en-la-region/86512-crearan-comite-carcelario-del-departamento"> Ver más </a> 
		</div>

		
      </div>
    </div>
<%- include layouts/footer.ejs %>
